<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C.alt</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-4.8</real>
    </dict>
    <key>E</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-4.8</real>
    </dict>
    <key>G</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-4.8</real>
    </dict>
    <key>Q</key>
    <dict>
      <key>public.kern2.j</key>
      <real>-7.5</real>
      <key>public.kern2.tilted</key>
      <real>6.0</real>
    </dict>
    <key>R</key>
    <dict>
      <key>underscore</key>
      <real>-18.000000000000004</real>
    </dict>
    <key>S</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-13.8</real>
      <key>public.kern2.nnna</key>
      <real>-9.000000000000002</real>
      <key>underscore</key>
      <real>-21.0</real>
      <key>x</key>
      <real>-7.5</real>
    </dict>
    <key>a</key>
    <dict>
      <key>public.kern2.axr</key>
      <real>-3.75</real>
      <key>public.kern2.axxa</key>
      <real>-6.0</real>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>bracketright</key>
      <real>-105.0</real>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-60.0</real>
    </dict>
    <key>backslash</key>
    <dict>
      <key>backslash</key>
      <real>-202.5</real>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>ETH</key>
      <real>-105.0</real>
      <key>THORN</key>
      <real>-60.0</real>
      <key>X</key>
      <real>-15.0</real>
      <key>eight</key>
      <real>-45.0</real>
      <key>five.alt</key>
      <real>-30.0</real>
      <key>four.alt</key>
      <real>-30.0</real>
      <key>g</key>
      <real>-6.0</real>
      <key>l</key>
      <real>-15.0</real>
      <key>nine.alt</key>
      <real>-30.0</real>
      <key>numbersign</key>
      <real>-30.0</real>
      <key>p</key>
      <real>-6.0</real>
      <key>public.kern2.J</key>
      <real>-30.0</real>
      <key>public.kern2.axa</key>
      <real>-30.0</real>
      <key>public.kern2.axr</key>
      <real>-30.0</real>
      <key>public.kern2.axxa</key>
      <real>-15.0</real>
      <key>public.kern2.axxr</key>
      <real>-30.0</real>
      <key>public.kern2.axxxa</key>
      <real>15.0</real>
      <key>public.kern2.j</key>
      <real>-6.0</real>
      <key>public.kern2.nnna</key>
      <real>-36.0</real>
      <key>public.kern2.nnr</key>
      <real>-30.0</real>
      <key>public.kern2.op_circle</key>
      <real>-120.0</real>
      <key>public.kern2.rrrr</key>
      <real>-45.0</real>
      <key>public.kern2.rxa</key>
      <real>-48.0</real>
      <key>public.kern2.rxr</key>
      <real>-48.0</real>
      <key>public.kern2.rxxa</key>
      <real>-30.0</real>
      <key>public.kern2.rxxr</key>
      <real>-45.0</real>
      <key>seven.alt</key>
      <real>-36.0</real>
      <key>three.alt</key>
      <real>-30.0</real>
      <key>trademark</key>
      <real>30.0</real>
      <key>x</key>
      <real>-30.0</real>
      <key>y</key>
      <real>-6.0</real>
    </dict>
    <key>c</key>
    <dict>
      <key>a</key>
      <real>-6.0</real>
      <key>public.kern2.nnna</key>
      <real>-15.0</real>
      <key>s</key>
      <real>-6.0</real>
    </dict>
    <key>colon</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-12.0</real>
    </dict>
    <key>degree</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-96.0</real>
    </dict>
    <key>eight.alt</key>
    <dict>
      <key>nine.alt</key>
      <real>-7.5</real>
      <key>public.kern2.bars</key>
      <real>-15.0</real>
      <key>s</key>
      <real>-7.2</real>
      <key>two.alt</key>
      <real>-15.0</real>
    </dict>
    <key>exclamation</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>12.0</real>
    </dict>
    <key>five</key>
    <dict>
      <key>two</key>
      <real>-12.0</real>
    </dict>
    <key>five.alt</key>
    <dict>
      <key>two.alt</key>
      <real>-12.0</real>
    </dict>
    <key>florin</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-30.0</real>
    </dict>
    <key>four</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-36.0</real>
      <key>underscore</key>
      <real>-15.0</real>
    </dict>
    <key>four.alt</key>
    <dict>
      <key>T</key>
      <real>-30.0</real>
      <key>public.kern2.nnna</key>
      <real>-45.0</real>
      <key>public.kern2.nnr</key>
      <real>-12.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-21.0</real>
      <key>seven.alt</key>
      <real>-12.0</real>
      <key>underscore</key>
      <real>-15.0</real>
    </dict>
    <key>i</key>
    <dict>
      <key>l</key>
      <real>1.2</real>
      <key>public.kern2.quotes</key>
      <real>-15.0</real>
      <key>public.kern2.rxr</key>
      <real>-7.0</real>
    </dict>
    <key>j</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-21.0</real>
    </dict>
    <key>k</key>
    <dict>
      <key>underscore</key>
      <real>-18.000000000000004</real>
    </dict>
    <key>l</key>
    <dict>
      <key>i</key>
      <real>1.2</real>
    </dict>
    <key>less</key>
    <dict>
      <key>public.kern2.bars</key>
      <real>-15.0</real>
    </dict>
    <key>numbersign</key>
    <dict>
      <key>bracketright</key>
      <real>-30.0</real>
    </dict>
    <key>ordinalfeminine</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-69.0</real>
      <key>public.kern2.tiltedback</key>
      <real>0.0</real>
    </dict>
    <key>ordinalmasculine</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-84.0</real>
    </dict>
    <key>percent</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-84.0</real>
    </dict>
    <key>permille</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-84.0</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>S</key>
      <real>-6.0</real>
      <key>bracketright</key>
      <real>-15.0</real>
      <key>public.kern2.J</key>
      <real>-3.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-90.0</real>
      <key>public.kern2.axa</key>
      <real>-1.875</real>
      <key>public.kern2.axr</key>
      <real>-4.8</real>
      <key>public.kern2.axxa</key>
      <real>-2.4</real>
      <key>public.kern2.axxr</key>
      <real>-2.4</real>
      <key>public.kern2.bars</key>
      <real>-90.0</real>
      <key>public.kern2.j</key>
      <real>-135.0</real>
      <key>public.kern2.nnna</key>
      <real>-120.0</real>
      <key>public.kern2.quotes</key>
      <real>-120.0</real>
      <key>public.kern2.rxa</key>
      <real>-4.8</real>
      <key>public.kern2.rxr</key>
      <real>-6.6</real>
      <key>public.kern2.rxxa</key>
      <real>-7.2</real>
      <key>public.kern2.rxxr</key>
      <real>-7.2</real>
      <key>space</key>
      <real>-15.0</real>
    </dict>
    <key>public.kern1.apostrophe</key>
    <dict>
      <key>public.kern2.axa</key>
      <real>-30.0</real>
      <key>public.kern2.axr</key>
      <real>-90.0</real>
      <key>public.kern2.rxa</key>
      <real>-30.0</real>
      <key>public.kern2.rxr</key>
      <real>-90.0</real>
      <key>public.kern2.tilted</key>
      <real>-117.0</real>
    </dict>
    <key>public.kern1.ara</key>
    <dict>
      <key>a</key>
      <real>-9.000000000000002</real>
      <key>bracketright</key>
      <real>-30.0</real>
      <key>public.kern2.J</key>
      <real>-7.5</real>
      <key>public.kern2.apostrophe</key>
      <real>-15.0</real>
      <key>public.kern2.axr</key>
      <real>-6.0</real>
      <key>public.kern2.axxr</key>
      <real>-2.4</real>
      <key>public.kern2.bars</key>
      <real>-9.000000000000002</real>
      <key>public.kern2.i_with</key>
      <real>-2.4</real>
      <key>public.kern2.j</key>
      <real>-135.0</real>
      <key>public.kern2.nnna</key>
      <real>-7.5</real>
      <key>public.kern2.quotes</key>
      <real>-15.0</real>
      <key>public.kern2.rxa</key>
      <real>-1.2</real>
      <key>public.kern2.rxr</key>
      <real>-12.0</real>
      <key>public.kern2.rxxr</key>
      <real>-1.2</real>
      <key>public.kern2.tiltedback</key>
      <real>-30.0</real>
      <key>three.alt</key>
      <real>-7.5</real>
      <key>two.alt</key>
      <real>-1.2</real>
      <key>underscore</key>
      <real>-15.0</real>
    </dict>
    <key>public.kern1.arra</key>
    <dict>
      <key>a</key>
      <real>-7.5</real>
      <key>bracketright</key>
      <real>-15.0</real>
      <key>public.kern2.J</key>
      <real>-7.5</real>
      <key>public.kern2.axr</key>
      <real>-1.875</real>
      <key>public.kern2.bars</key>
      <real>-18.0</real>
      <key>public.kern2.j</key>
      <real>-135.0</real>
      <key>public.kern2.nnna</key>
      <real>-3.0</real>
      <key>public.kern2.rxr</key>
      <real>-3.75</real>
      <key>public.kern2.rxxr</key>
      <real>-4.8</real>
      <key>three.alt</key>
      <real>-7.5</real>
      <key>two.alt</key>
      <real>-1.2</real>
      <key>x</key>
      <real>-3.0</real>
    </dict>
    <key>public.kern1.axa</key>
    <dict>
      <key>a</key>
      <real>-6.0</real>
      <key>bracketright</key>
      <real>-30.0</real>
      <key>public.kern2.J</key>
      <real>-7.5</real>
      <key>public.kern2.apostrophe</key>
      <real>-15.0</real>
      <key>public.kern2.axr</key>
      <real>-1.2</real>
      <key>public.kern2.axxr</key>
      <real>-2.4</real>
      <key>public.kern2.i_with</key>
      <real>-2.4</real>
      <key>public.kern2.j</key>
      <real>-135.0</real>
      <key>public.kern2.nnna</key>
      <real>-7.5</real>
      <key>public.kern2.quotes</key>
      <real>-7.5</real>
      <key>public.kern2.rxa</key>
      <real>-1.2</real>
      <key>public.kern2.rxr</key>
      <real>-3.0</real>
      <key>public.kern2.rxxr</key>
      <real>-1.2</real>
      <key>public.kern2.tiltedback</key>
      <real>-30.0</real>
      <key>three.alt</key>
      <real>-7.5</real>
      <key>two.alt</key>
      <real>-1.2</real>
    </dict>
    <key>public.kern1.axr</key>
    <dict>
      <key>a</key>
      <real>-13.2</real>
      <key>bracketright</key>
      <real>-30.0</real>
      <key>eight.alt</key>
      <real>-4.8</real>
      <key>public.kern2.J</key>
      <real>-3.75</real>
      <key>public.kern2.apostrophe</key>
      <real>-30.0</real>
      <key>public.kern2.axa</key>
      <real>-1.2</real>
      <key>public.kern2.axr</key>
      <real>-4.8</real>
      <key>public.kern2.axxa</key>
      <real>-0.6</real>
      <key>public.kern2.axxr</key>
      <real>-0.6</real>
      <key>public.kern2.i_with</key>
      <real>-0.6</real>
      <key>public.kern2.j</key>
      <real>-135.0</real>
      <key>public.kern2.na</key>
      <real>-2.4</real>
      <key>public.kern2.nna</key>
      <real>-2.4</real>
      <key>public.kern2.nnna</key>
      <real>-51.0</real>
      <key>public.kern2.quotes</key>
      <real>-15.0</real>
      <key>public.kern2.rxa</key>
      <real>-1.875</real>
      <key>public.kern2.rxr</key>
      <real>-3.0</real>
      <key>public.kern2.rxxa</key>
      <real>-1.2</real>
      <key>public.kern2.rxxr</key>
      <real>-1.2</real>
      <key>public.kern2.tiltedback</key>
      <real>-51.0</real>
      <key>seven.alt</key>
      <real>-6.0</real>
      <key>two.alt</key>
      <real>-2.4</real>
      <key>underscore</key>
      <real>-24.0</real>
      <key>x</key>
      <real>-3.0</real>
    </dict>
    <key>public.kern1.axxa</key>
    <dict>
      <key>a</key>
      <real>-4.8</real>
      <key>bracketright</key>
      <real>-15.0</real>
      <key>public.kern2.J</key>
      <real>-7.5</real>
      <key>public.kern2.axr</key>
      <real>-1.875</real>
      <key>public.kern2.i_with</key>
      <real>9.999999999999998</real>
      <key>public.kern2.j</key>
      <real>-135.0</real>
      <key>public.kern2.nnna</key>
      <real>-3.0</real>
      <key>public.kern2.rxr</key>
      <real>-3.75</real>
      <key>three.alt</key>
      <real>-7.5</real>
      <key>two</key>
      <real>-4.8</real>
      <key>two.alt</key>
      <real>-1.2</real>
    </dict>
    <key>public.kern1.axxr</key>
    <dict>
      <key>a</key>
      <real>-6.0</real>
      <key>bracketright</key>
      <real>-30.0</real>
      <key>public.kern2.J</key>
      <real>-7.5</real>
      <key>public.kern2.axa</key>
      <real>-2.4</real>
      <key>public.kern2.axr</key>
      <real>-0.6</real>
      <key>public.kern2.i_with</key>
      <real>4.999999999999999</real>
      <key>public.kern2.j</key>
      <real>-135.0</real>
      <key>public.kern2.nnna</key>
      <real>-12.0</real>
      <key>public.kern2.quotes</key>
      <real>-24.0</real>
      <key>public.kern2.rxa</key>
      <real>-0.6</real>
      <key>public.kern2.rxr</key>
      <real>-4.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-21.0</real>
      <key>three.alt</key>
      <real>-7.5</real>
      <key>two.alt</key>
      <real>-1.2</real>
    </dict>
    <key>public.kern1.axxxa</key>
    <dict>
      <key>bracketright</key>
      <real>15.0</real>
    </dict>
    <key>public.kern1.bars</key>
    <dict>
      <key>X</key>
      <real>-18.0</real>
      <key>a</key>
      <real>-6.0</real>
      <key>eight</key>
      <real>-18.0</real>
      <key>eight.alt</key>
      <real>-18.0</real>
      <key>greater</key>
      <real>-15.0</real>
      <key>public.kern2.J</key>
      <real>-90.0</real>
      <key>public.kern2.j</key>
      <real>-120.0</real>
      <key>public.kern2.nnna</key>
      <real>-90.0</real>
      <key>public.kern2.tilted</key>
      <real>-45.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-45.0</real>
      <key>seven</key>
      <real>-6.0</real>
      <key>three</key>
      <real>-6.0</real>
      <key>three.alt</key>
      <real>-6.0</real>
      <key>trademark</key>
      <real>0.0</real>
      <key>two</key>
      <real>-9.000000000000002</real>
      <key>two.alt</key>
      <real>-9.000000000000002</real>
      <key>x</key>
      <real>-9.000000000000002</real>
    </dict>
    <key>public.kern1.desc</key>
    <dict>
      <key>a</key>
      <real>-4.8</real>
      <key>bracketright</key>
      <real>-6.0</real>
      <key>public.kern2.J</key>
      <real>-7.5</real>
      <key>public.kern2.apostrophe</key>
      <real>-15.0</real>
      <key>public.kern2.axr</key>
      <real>-1.2</real>
      <key>public.kern2.axxr</key>
      <real>-2.4</real>
      <key>public.kern2.j</key>
      <real>-21.0</real>
      <key>public.kern2.nnna</key>
      <real>-7.5</real>
      <key>public.kern2.quotes</key>
      <real>-7.5</real>
      <key>public.kern2.rxa</key>
      <real>-1.2</real>
      <key>public.kern2.rxr</key>
      <real>-3.0</real>
      <key>public.kern2.rxxr</key>
      <real>-1.2</real>
      <key>public.kern2.tiltedback</key>
      <real>-30.0</real>
      <key>three.alt</key>
      <real>-7.5</real>
      <key>two.alt</key>
      <real>-1.2</real>
    </dict>
    <key>public.kern1.dots</key>
    <dict>
      <key>four</key>
      <real>-15.0</real>
      <key>four.alt</key>
      <real>-15.0</real>
      <key>public.kern2.na</key>
      <real>-60.0</real>
      <key>public.kern2.nnna</key>
      <real>-60.0</real>
      <key>public.kern2.quotes</key>
      <real>-60.0</real>
      <key>public.kern2.rxa</key>
      <real>-15.0</real>
      <key>public.kern2.rxr</key>
      <real>-15.0</real>
      <key>public.kern2.rxxa</key>
      <real>-15.0</real>
      <key>public.kern2.rxxr</key>
      <real>-15.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-102.0</real>
      <key>seven.alt</key>
      <real>-90.0</real>
      <key>three</key>
      <real>-9.000000000000002</real>
      <key>three.alt</key>
      <real>-9.000000000000002</real>
      <key>two</key>
      <real>-15.0</real>
      <key>two.alt</key>
      <real>-15.0</real>
      <key>underscore</key>
      <real>-15.0</real>
    </dict>
    <key>public.kern1.i_with</key>
    <dict>
      <key>a</key>
      <real>-6.0</real>
      <key>public.kern2.J</key>
      <real>-7.5</real>
      <key>public.kern2.axa</key>
      <real>-2.4</real>
      <key>public.kern2.axr</key>
      <real>-0.6</real>
      <key>public.kern2.axxa</key>
      <real>9.999999999999998</real>
      <key>public.kern2.axxr</key>
      <real>4.999999999999999</real>
      <key>public.kern2.j</key>
      <real>-135.0</real>
      <key>public.kern2.nnna</key>
      <real>4.999999999999999</real>
      <key>public.kern2.quotes</key>
      <real>4.999999999999999</real>
      <key>public.kern2.rxa</key>
      <real>-0.6</real>
      <key>public.kern2.rxr</key>
      <real>-4.0</real>
      <key>public.kern2.rxxa</key>
      <real>9.999999999999998</real>
      <key>public.kern2.rxxr</key>
      <real>4.999999999999999</real>
      <key>three.alt</key>
      <real>-7.5</real>
      <key>two.alt</key>
      <real>-1.2</real>
    </dict>
    <key>public.kern1.na</key>
    <dict>
      <key>S</key>
      <real>-6.0</real>
      <key>a</key>
      <real>-4.8</real>
      <key>bracketright</key>
      <real>-45.0</real>
      <key>public.kern2.J</key>
      <real>-24.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-15.0</real>
      <key>public.kern2.axa</key>
      <real>-0.6</real>
      <key>public.kern2.axr</key>
      <real>-11.4</real>
      <key>public.kern2.axxa</key>
      <real>-1.2</real>
      <key>public.kern2.axxr</key>
      <real>-0.6</real>
      <key>public.kern2.dots</key>
      <real>-30.0</real>
      <key>public.kern2.j</key>
      <real>-146.25</real>
      <key>public.kern2.nna</key>
      <real>-1.875</real>
      <key>public.kern2.nnna</key>
      <real>-51.0</real>
      <key>public.kern2.quotes</key>
      <real>-15.0</real>
      <key>public.kern2.rxa</key>
      <real>-0.6</real>
      <key>public.kern2.rxr</key>
      <real>-3.0</real>
      <key>public.kern2.rxxa</key>
      <real>-0.6</real>
      <key>public.kern2.rxxr</key>
      <real>-0.6</real>
      <key>public.kern2.tilted</key>
      <real>-24.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-30.0</real>
      <key>two.alt</key>
      <real>-12.0</real>
      <key>underscore</key>
      <real>-9.000000000000002</real>
      <key>x</key>
      <real>-10.799999999999999</real>
    </dict>
    <key>public.kern1.nna</key>
    <dict>
      <key>Z</key>
      <real>-3.0</real>
      <key>a</key>
      <real>-7.5</real>
      <key>bracketright</key>
      <real>-15.0</real>
      <key>public.kern2.J</key>
      <real>-105.0</real>
      <key>public.kern2.axa</key>
      <real>-1.2</real>
      <key>public.kern2.axr</key>
      <real>-3.75</real>
      <key>public.kern2.axxr</key>
      <real>-1.2</real>
      <key>public.kern2.dots</key>
      <real>-60.0</real>
      <key>public.kern2.i_with</key>
      <real>15.0</real>
      <key>public.kern2.j</key>
      <real>-142.5</real>
      <key>public.kern2.nnna</key>
      <real>-6.0</real>
      <key>public.kern2.rxa</key>
      <real>-1.2</real>
      <key>public.kern2.rxr</key>
      <real>-3.75</real>
      <key>public.kern2.rxxr</key>
      <real>-1.2</real>
      <key>public.kern2.tilted</key>
      <real>-39.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-30.0</real>
      <key>space</key>
      <real>-45.0</real>
      <key>underscore</key>
      <real>-33.0</real>
    </dict>
    <key>public.kern1.nnna</key>
    <dict>
      <key>Z</key>
      <real>-4.8</real>
      <key>a</key>
      <real>-21.000000000000004</real>
      <key>bracketright</key>
      <real>-36.0</real>
      <key>public.kern2.J</key>
      <real>-120.0</real>
      <key>public.kern2.ara</key>
      <real>-7.5</real>
      <key>public.kern2.axa</key>
      <real>-7.5</real>
      <key>public.kern2.axr</key>
      <real>-51.0</real>
      <key>public.kern2.axxa</key>
      <real>-3.0</real>
      <key>public.kern2.axxr</key>
      <real>-12.0</real>
      <key>public.kern2.bars</key>
      <real>-90.0</real>
      <key>public.kern2.dots</key>
      <real>-60.0</real>
      <key>public.kern2.i_with</key>
      <real>4.999999999999999</real>
      <key>public.kern2.j</key>
      <real>-150.0</real>
      <key>public.kern2.nnna</key>
      <real>-4.8</real>
      <key>public.kern2.rxa</key>
      <real>-7.5</real>
      <key>public.kern2.rxr</key>
      <real>-51.0</real>
      <key>public.kern2.rxxa</key>
      <real>-1.875</real>
      <key>public.kern2.rxxr</key>
      <real>-9.000000000000002</real>
      <key>public.kern2.tilted</key>
      <real>-75.0</real>
      <key>space</key>
      <real>-60.0</real>
      <key>three.alt</key>
      <real>-21.000000000000004</real>
      <key>two.alt</key>
      <real>-21.000000000000004</real>
      <key>underscore</key>
      <real>-120.0</real>
    </dict>
    <key>public.kern1.nnr</key>
    <dict>
      <key>X</key>
      <real>-12.0</real>
      <key>Z</key>
      <real>-15.0</real>
      <key>bracketright</key>
      <real>-60.0</real>
      <key>four.alt</key>
      <real>-12.0</real>
      <key>public.kern2.J</key>
      <real>-120.0</real>
      <key>public.kern2.axa</key>
      <real>-12.0</real>
      <key>public.kern2.axr</key>
      <real>-21.0</real>
      <key>public.kern2.axxa</key>
      <real>-6.0</real>
      <key>public.kern2.axxr</key>
      <real>-6.0</real>
      <key>public.kern2.bars</key>
      <real>-6.0</real>
      <key>public.kern2.dots</key>
      <real>-105.0</real>
      <key>public.kern2.j</key>
      <real>-150.0</real>
      <key>public.kern2.nnna</key>
      <real>-19.5</real>
      <key>public.kern2.quotes</key>
      <real>-7.5</real>
      <key>public.kern2.rxa</key>
      <real>-12.0</real>
      <key>public.kern2.rxr</key>
      <real>-24.0</real>
      <key>public.kern2.rxxa</key>
      <real>-6.0</real>
      <key>public.kern2.rxxr</key>
      <real>-6.0</real>
      <key>public.kern2.tilted</key>
      <real>-60.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-30.0</real>
      <key>space</key>
      <real>-60.0</real>
      <key>underscore</key>
      <real>-66.0</real>
    </dict>
    <key>public.kern1.nr</key>
    <dict>
      <key>bracketright</key>
      <real>-45.0</real>
      <key>public.kern2.J</key>
      <real>-86.25</real>
      <key>public.kern2.axa</key>
      <real>-2.4</real>
      <key>public.kern2.axr</key>
      <real>-7.5</real>
      <key>public.kern2.dots</key>
      <real>-60.0</real>
      <key>public.kern2.j</key>
      <real>-147.3</real>
      <key>public.kern2.nnna</key>
      <real>-6.0</real>
      <key>public.kern2.quotes</key>
      <real>-24.0</real>
      <key>public.kern2.rxa</key>
      <real>-2.4</real>
      <key>public.kern2.rxr</key>
      <real>-3.75</real>
      <key>public.kern2.tilted</key>
      <real>-45.0</real>
      <key>underscore</key>
      <real>-60.0</real>
      <key>x</key>
      <real>-2.4</real>
    </dict>
    <key>public.kern1.op_circle</key>
    <dict>
      <key>bracketright</key>
      <real>-120.0</real>
      <key>public.kern2.tilted</key>
      <real>-60.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-60.0</real>
      <key>underscore</key>
      <real>-150.0</real>
    </dict>
    <key>public.kern1.quotes</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-150.0</real>
      <key>public.kern2.axa</key>
      <real>-75.0</real>
      <key>public.kern2.axr</key>
      <real>-120.0</real>
      <key>public.kern2.axxa</key>
      <real>-21.000000000000004</real>
      <key>public.kern2.axxr</key>
      <real>-60.0</real>
      <key>public.kern2.dots</key>
      <real>-60.0</real>
      <key>public.kern2.i_with</key>
      <real>4.999999999999999</real>
      <key>public.kern2.j</key>
      <real>-150.0</real>
      <key>public.kern2.nnna</key>
      <real>-15.0</real>
      <key>public.kern2.rxa</key>
      <real>-75.0</real>
      <key>public.kern2.rxr</key>
      <real>-120.0</real>
      <key>public.kern2.rxxr</key>
      <real>-60.0</real>
      <key>public.kern2.tilted</key>
      <real>-144.0</real>
      <key>space</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.quotesleft</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-135.0</real>
      <key>public.kern2.axa</key>
      <real>-7.5</real>
      <key>public.kern2.axr</key>
      <real>-15.0</real>
      <key>public.kern2.axxr</key>
      <real>-15.0</real>
      <key>public.kern2.dots</key>
      <real>-60.0</real>
      <key>public.kern2.i_with</key>
      <real>4.999999999999999</real>
      <key>public.kern2.j</key>
      <real>-135.0</real>
      <key>public.kern2.rxa</key>
      <real>-7.5</real>
      <key>public.kern2.rxr</key>
      <real>-15.0</real>
      <key>public.kern2.rxxr</key>
      <real>-15.0</real>
      <key>public.kern2.tilted</key>
      <real>-102.0</real>
      <key>space</key>
      <real>-60.0</real>
    </dict>
    <key>public.kern1.rrrr</key>
    <dict>
      <key>X</key>
      <real>-6.0</real>
      <key>a</key>
      <real>-6.6</real>
      <key>bracketright</key>
      <real>-45.0</real>
      <key>eight.alt</key>
      <real>-3.0</real>
      <key>public.kern2.J</key>
      <real>-13.2</real>
      <key>public.kern2.apostrophe</key>
      <real>-3.0</real>
      <key>public.kern2.axa</key>
      <real>-6.6</real>
      <key>public.kern2.axr</key>
      <real>-14.4</real>
      <key>public.kern2.axxa</key>
      <real>-7.5</real>
      <key>public.kern2.axxr</key>
      <real>-7.5</real>
      <key>public.kern2.bars</key>
      <real>-18.0</real>
      <key>public.kern2.dots</key>
      <real>-15.0</real>
      <key>public.kern2.i_with</key>
      <real>4.999999999999999</real>
      <key>public.kern2.j</key>
      <real>-142.5</real>
      <key>public.kern2.na</key>
      <real>-7.5</real>
      <key>public.kern2.nnna</key>
      <real>-9.9</real>
      <key>public.kern2.quotes</key>
      <real>-30.0</real>
      <key>public.kern2.rxa</key>
      <real>-4.8</real>
      <key>public.kern2.rxr</key>
      <real>-7.5</real>
      <key>public.kern2.rxxa</key>
      <real>-7.2</real>
      <key>public.kern2.rxxr</key>
      <real>-12.600000000000001</real>
      <key>public.kern2.tilted</key>
      <real>-21.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-21.0</real>
      <key>three.alt</key>
      <real>-1.2</real>
      <key>two</key>
      <real>-23.999999999999996</real>
      <key>two.alt</key>
      <real>-2.4</real>
      <key>underscore</key>
      <real>-30.0</real>
    </dict>
    <key>public.kern1.rxa</key>
    <dict>
      <key>a</key>
      <real>-7.5</real>
      <key>bracketright</key>
      <real>-48.0</real>
      <key>public.kern2.J</key>
      <real>-12.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-15.0</real>
      <key>public.kern2.axa</key>
      <real>-0.6</real>
      <key>public.kern2.axr</key>
      <real>-1.875</real>
      <key>public.kern2.axxr</key>
      <real>-0.6</real>
      <key>public.kern2.dots</key>
      <real>-15.0</real>
      <key>public.kern2.i_with</key>
      <real>-0.6</real>
      <key>public.kern2.j</key>
      <real>-142.5</real>
      <key>public.kern2.nna</key>
      <real>-1.875</real>
      <key>public.kern2.nnna</key>
      <real>-7.5</real>
      <key>public.kern2.quotes</key>
      <real>-7.5</real>
      <key>public.kern2.rxr</key>
      <real>-3.0</real>
      <key>public.kern2.tilted</key>
      <real>-21.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-30.0</real>
      <key>two.alt</key>
      <real>-1.2</real>
      <key>underscore</key>
      <real>-24.0</real>
    </dict>
    <key>public.kern1.rxr</key>
    <dict>
      <key>a</key>
      <real>-12.0</real>
      <key>bracketright</key>
      <real>-48.0</real>
      <key>eight.alt</key>
      <real>-6.0</real>
      <key>i</key>
      <real>-7.0</real>
      <key>public.kern2.J</key>
      <real>-12.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-30.0</real>
      <key>public.kern2.axa</key>
      <real>-3.0</real>
      <key>public.kern2.axr</key>
      <real>-3.0</real>
      <key>public.kern2.axxa</key>
      <real>-3.75</real>
      <key>public.kern2.axxr</key>
      <real>-4.0</real>
      <key>public.kern2.dots</key>
      <real>-15.0</real>
      <key>public.kern2.i_with</key>
      <real>-4.0</real>
      <key>public.kern2.j</key>
      <real>-142.5</real>
      <key>public.kern2.na</key>
      <real>-2.4</real>
      <key>public.kern2.nna</key>
      <real>-6.0</real>
      <key>public.kern2.nnna</key>
      <real>-51.0</real>
      <key>public.kern2.quotes</key>
      <real>-15.0</real>
      <key>public.kern2.rxa</key>
      <real>-2.4</real>
      <key>public.kern2.rxr</key>
      <real>-2.4</real>
      <key>public.kern2.rxxa</key>
      <real>-4.0</real>
      <key>public.kern2.rxxr</key>
      <real>-4.8</real>
      <key>public.kern2.tilted</key>
      <real>-21.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-51.0</real>
      <key>seven.alt</key>
      <real>-12.0</real>
      <key>three.alt</key>
      <real>-9.000000000000002</real>
      <key>two.alt</key>
      <real>-15.0</real>
      <key>underscore</key>
      <real>-24.0</real>
      <key>x</key>
      <real>-12.0</real>
    </dict>
    <key>public.kern1.rxxa</key>
    <dict>
      <key>a</key>
      <real>-4.8</real>
      <key>bracketright</key>
      <real>-30.0</real>
      <key>public.kern2.J</key>
      <real>-12.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-15.0</real>
      <key>public.kern2.axr</key>
      <real>-1.2</real>
      <key>public.kern2.dots</key>
      <real>-15.0</real>
      <key>public.kern2.i_with</key>
      <real>9.999999999999998</real>
      <key>public.kern2.j</key>
      <real>-142.5</real>
      <key>public.kern2.nnna</key>
      <real>-1.875</real>
      <key>public.kern2.rxr</key>
      <real>-4.0</real>
      <key>public.kern2.tilted</key>
      <real>-21.0</real>
      <key>two.alt</key>
      <real>-1.2</real>
      <key>underscore</key>
      <real>-30.0</real>
    </dict>
    <key>public.kern1.rxxr</key>
    <dict>
      <key>a</key>
      <real>-6.6</real>
      <key>bracketright</key>
      <real>-45.0</real>
      <key>public.kern2.J</key>
      <real>-12.0</real>
      <key>public.kern2.axa</key>
      <real>-1.2</real>
      <key>public.kern2.axr</key>
      <real>-1.2</real>
      <key>public.kern2.dots</key>
      <real>-15.0</real>
      <key>public.kern2.i_with</key>
      <real>4.999999999999999</real>
      <key>public.kern2.j</key>
      <real>-142.5</real>
      <key>public.kern2.nnna</key>
      <real>-9.000000000000002</real>
      <key>public.kern2.quotes</key>
      <real>-24.0</real>
      <key>public.kern2.rxr</key>
      <real>-4.8</real>
      <key>public.kern2.tilted</key>
      <real>-21.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-21.0</real>
      <key>three.alt</key>
      <real>-1.2</real>
      <key>two</key>
      <real>-15.0</real>
      <key>two.alt</key>
      <real>-2.4</real>
      <key>underscore</key>
      <real>-30.0</real>
    </dict>
    <key>public.kern1.tilted</key>
    <dict>
      <key>cent</key>
      <real>-30.0</real>
      <key>colon</key>
      <real>-12.0</real>
      <key>florin</key>
      <real>-60.0</real>
      <key>invquestion</key>
      <real>-120.0</real>
      <key>pound</key>
      <real>-24.0</real>
      <key>public.kern2.J</key>
      <real>-84.0</real>
      <key>public.kern2.ara</key>
      <real>-30.0</real>
      <key>public.kern2.axa</key>
      <real>-30.0</real>
      <key>public.kern2.axr</key>
      <real>-51.0</real>
      <key>public.kern2.axxr</key>
      <real>-21.0</real>
      <key>public.kern2.bars</key>
      <real>-45.0</real>
      <key>public.kern2.dots</key>
      <real>-102.0</real>
      <key>public.kern2.j</key>
      <real>-150.0</real>
      <key>public.kern2.na</key>
      <real>-30.0</real>
      <key>public.kern2.nna</key>
      <real>-30.0</real>
      <key>public.kern2.nnr</key>
      <real>-30.0</real>
      <key>public.kern2.op_circle</key>
      <real>-60.0</real>
      <key>public.kern2.rxa</key>
      <real>-30.0</real>
      <key>public.kern2.rxr</key>
      <real>-51.0</real>
      <key>public.kern2.rxxr</key>
      <real>-21.0</real>
      <key>public.kern2.tilted</key>
      <real>-90.0</real>
      <key>section</key>
      <real>-24.0</real>
      <key>semicolon</key>
      <real>-12.0</real>
      <key>underscore</key>
      <real>-132.0</real>
      <key>won</key>
      <real>-30.0</real>
      <key>yen</key>
      <real>-30.0</real>
    </dict>
    <key>public.kern1.tiltedback</key>
    <dict>
      <key>asterisk</key>
      <real>-60.0</real>
      <key>degree</key>
      <real>-96.0</real>
      <key>euro</key>
      <real>-36.0</real>
      <key>exclamation</key>
      <real>12.0</real>
      <key>ordinalfeminine</key>
      <real>-84.0</real>
      <key>ordinalmasculine</key>
      <real>-84.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-117.0</real>
      <key>public.kern2.bars</key>
      <real>-45.0</real>
      <key>public.kern2.na</key>
      <real>-24.0</real>
      <key>public.kern2.nna</key>
      <real>-39.0</real>
      <key>public.kern2.nnna</key>
      <real>-75.0</real>
      <key>public.kern2.nnr</key>
      <real>-60.0</real>
      <key>public.kern2.nr</key>
      <real>-45.0</real>
      <key>public.kern2.op_circle</key>
      <real>-60.0</real>
      <key>public.kern2.quotes</key>
      <real>-144.0</real>
      <key>public.kern2.quotesleft</key>
      <real>-102.0</real>
      <key>public.kern2.rxa</key>
      <real>-21.0</real>
      <key>public.kern2.rxr</key>
      <real>-21.0</real>
      <key>public.kern2.rxxa</key>
      <real>-21.0</real>
      <key>public.kern2.rxxr</key>
      <real>-21.0</real>
      <key>seven.alt</key>
      <real>-12.0</real>
      <key>underscore</key>
      <real>15.0</real>
      <key>won</key>
      <real>-66.0</real>
      <key>yen</key>
      <real>-66.0</real>
    </dict>
    <key>q</key>
    <dict>
      <key>public.kern2.j</key>
      <real>-18.75</real>
    </dict>
    <key>question</key>
    <dict>
      <key>public.kern2.dots</key>
      <real>-120.0</real>
      <key>public.kern2.tilted</key>
      <real>-84.0</real>
    </dict>
    <key>s</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-10.5</real>
      <key>public.kern2.rxr</key>
      <real>-5.3999999999999995</real>
      <key>s</key>
      <real>-6.0</real>
      <key>two.alt</key>
      <real>-9.000000000000002</real>
      <key>x</key>
      <real>-3.75</real>
      <key>z</key>
      <real>-6.0</real>
    </dict>
    <key>semicolon</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-12.0</real>
    </dict>
    <key>seven</key>
    <dict>
      <key>underscore</key>
      <real>-12.0</real>
    </dict>
    <key>seven.alt</key>
    <dict>
      <key>underscore</key>
      <real>-12.0</real>
    </dict>
    <key>six</key>
    <dict>
      <key>two</key>
      <real>-2.4</real>
    </dict>
    <key>six.alt</key>
    <dict>
      <key>public.kern2.bars</key>
      <real>-6.0</real>
      <key>public.kern2.nnna</key>
      <real>-21.0</real>
      <key>s</key>
      <real>-12.0</real>
      <key>seven.alt</key>
      <real>-15.0</real>
    </dict>
    <key>slash</key>
    <dict>
      <key>slash</key>
      <real>-202.5</real>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-60.0</real>
      <key>public.kern2.j</key>
      <real>-60.0</real>
      <key>public.kern2.nnna</key>
      <real>-60.0</real>
    </dict>
    <key>t</key>
    <dict>
      <key>Z</key>
      <real>-6.0</real>
      <key>a</key>
      <real>-24.0</real>
      <key>five.alt</key>
      <real>-12.0</real>
      <key>public.kern2.J</key>
      <real>-121.875</real>
      <key>public.kern2.axa</key>
      <real>-18.000000000000004</real>
      <key>public.kern2.axr</key>
      <real>-37.5</real>
      <key>public.kern2.axxa</key>
      <real>-15.0</real>
      <key>public.kern2.axxr</key>
      <real>-7.5</real>
      <key>public.kern2.bars</key>
      <real>-18.000000000000004</real>
      <key>public.kern2.nna</key>
      <real>-12.0</real>
      <key>public.kern2.rxa</key>
      <real>-24.0</real>
      <key>public.kern2.rxr</key>
      <real>-39.75</real>
      <key>public.kern2.rxxa</key>
      <real>-7.5</real>
      <key>public.kern2.rxxr</key>
      <real>-7.5</real>
      <key>public.kern2.tilted</key>
      <real>-84.0</real>
      <key>t</key>
      <real>-8.7</real>
      <key>three.alt</key>
      <real>-12.0</real>
      <key>two.alt</key>
      <real>-13.2</real>
      <key>underscore</key>
      <real>-78.0</real>
    </dict>
    <key>three.alt</key>
    <dict>
      <key>nine.alt</key>
      <real>-3.75</real>
      <key>public.kern2.bars</key>
      <real>-15.0</real>
      <key>s</key>
      <real>-7.2</real>
      <key>two.alt</key>
      <real>-18.000000000000004</real>
      <key>underscore</key>
      <real>-24.0</real>
    </dict>
    <key>turnedcomma</key>
    <dict>
      <key>public.kern2.axa</key>
      <real>-3.0</real>
      <key>public.kern2.axr</key>
      <real>-36.0</real>
      <key>public.kern2.rxa</key>
      <real>-3.0</real>
      <key>public.kern2.rxr</key>
      <real>-36.0</real>
    </dict>
    <key>two.alt</key>
    <dict>
      <key>underscore</key>
      <real>-15.0</real>
    </dict>
    <key>underscore</key>
    <dict>
      <key>five.alt</key>
      <real>-21.0</real>
      <key>four.alt</key>
      <real>-15.0</real>
      <key>g</key>
      <real>-15.0</real>
      <key>l</key>
      <real>0.0</real>
      <key>period</key>
      <real>-15.0</real>
      <key>public.kern2.J</key>
      <real>-24.0</real>
      <key>public.kern2.j</key>
      <real>-6.0</real>
      <key>public.kern2.nnna</key>
      <real>-120.0</real>
      <key>public.kern2.nnr</key>
      <real>-39.0</real>
      <key>public.kern2.op_circle</key>
      <real>-150.0</real>
      <key>public.kern2.rxa</key>
      <real>-24.0</real>
      <key>public.kern2.rxr</key>
      <real>-24.0</real>
      <key>public.kern2.rxxa</key>
      <real>-30.0</real>
      <key>public.kern2.rxxr</key>
      <real>-30.0</real>
      <key>public.kern2.tilted</key>
      <real>15.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-132.0</real>
      <key>s</key>
      <real>-21.0</real>
      <key>seven</key>
      <real>-30.0</real>
      <key>seven.alt</key>
      <real>-24.0</real>
      <key>three.alt</key>
      <real>-18.000000000000004</real>
      <key>trademark</key>
      <real>0.0</real>
      <key>two.alt</key>
      <real>-24.0</real>
      <key>x</key>
      <real>-15.0</real>
      <key>y</key>
      <real>-7.5</real>
    </dict>
    <key>won</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-66.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-30.0</real>
    </dict>
    <key>yen</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-60.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-30.0</real>
    </dict>
  </dict>
</plist>
