<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C.alt</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-5.6000000000000005</real>
    </dict>
    <key>E</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-5.6000000000000005</real>
    </dict>
    <key>G</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-5.6000000000000005</real>
    </dict>
    <key>Q</key>
    <dict>
      <key>public.kern2.j</key>
      <real>-8.75</real>
      <key>public.kern2.tilted</key>
      <real>7.0</real>
    </dict>
    <key>R</key>
    <dict>
      <key>underscore</key>
      <real>-21.000000000000004</real>
    </dict>
    <key>S</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-16.1</real>
      <key>public.kern2.nnna</key>
      <real>-10.500000000000002</real>
      <key>underscore</key>
      <real>-24.5</real>
      <key>x</key>
      <real>-8.75</real>
    </dict>
    <key>a</key>
    <dict>
      <key>public.kern2.axr</key>
      <real>-4.375</real>
      <key>public.kern2.axxa</key>
      <real>-7.0</real>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>bracketright</key>
      <real>-122.5</real>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-70.0</real>
    </dict>
    <key>backslash</key>
    <dict>
      <key>backslash</key>
      <real>-218.75</real>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>ETH</key>
      <real>-122.5</real>
      <key>THORN</key>
      <real>-70.0</real>
      <key>X</key>
      <real>-17.5</real>
      <key>eight</key>
      <real>-52.5</real>
      <key>five.alt</key>
      <real>-35.0</real>
      <key>four.alt</key>
      <real>-35.0</real>
      <key>g</key>
      <real>-7.0</real>
      <key>l</key>
      <real>-17.5</real>
      <key>nine.alt</key>
      <real>-35.0</real>
      <key>numbersign</key>
      <real>-35.0</real>
      <key>p</key>
      <real>-7.0</real>
      <key>public.kern2.J</key>
      <real>-35.0</real>
      <key>public.kern2.axa</key>
      <real>-35.0</real>
      <key>public.kern2.axr</key>
      <real>-35.0</real>
      <key>public.kern2.axxa</key>
      <real>-17.5</real>
      <key>public.kern2.axxr</key>
      <real>-35.0</real>
      <key>public.kern2.axxxa</key>
      <real>17.5</real>
      <key>public.kern2.j</key>
      <real>-7.0</real>
      <key>public.kern2.nnna</key>
      <real>-42.0</real>
      <key>public.kern2.nnr</key>
      <real>-35.0</real>
      <key>public.kern2.op_circle</key>
      <real>-140.0</real>
      <key>public.kern2.rrrr</key>
      <real>-52.5</real>
      <key>public.kern2.rxa</key>
      <real>-56.0</real>
      <key>public.kern2.rxr</key>
      <real>-56.0</real>
      <key>public.kern2.rxxa</key>
      <real>-35.0</real>
      <key>public.kern2.rxxr</key>
      <real>-52.5</real>
      <key>seven.alt</key>
      <real>-42.0</real>
      <key>three.alt</key>
      <real>-35.0</real>
      <key>trademark</key>
      <real>35.0</real>
      <key>x</key>
      <real>-35.0</real>
      <key>y</key>
      <real>-7.0</real>
    </dict>
    <key>c</key>
    <dict>
      <key>a</key>
      <real>-7.0</real>
      <key>public.kern2.nnna</key>
      <real>-17.5</real>
      <key>s</key>
      <real>-7.0</real>
    </dict>
    <key>colon</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-14.0</real>
    </dict>
    <key>degree</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-112.0</real>
    </dict>
    <key>eight.alt</key>
    <dict>
      <key>nine.alt</key>
      <real>-8.75</real>
      <key>public.kern2.bars</key>
      <real>-17.5</real>
      <key>s</key>
      <real>-8.4</real>
      <key>two.alt</key>
      <real>-17.5</real>
    </dict>
    <key>exclamation</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>14.0</real>
    </dict>
    <key>five</key>
    <dict>
      <key>two</key>
      <real>-14.0</real>
    </dict>
    <key>five.alt</key>
    <dict>
      <key>two.alt</key>
      <real>-14.0</real>
    </dict>
    <key>florin</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-35.0</real>
    </dict>
    <key>four</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-42.0</real>
      <key>underscore</key>
      <real>-17.5</real>
    </dict>
    <key>four.alt</key>
    <dict>
      <key>T</key>
      <real>-35.0</real>
      <key>public.kern2.nnna</key>
      <real>-52.5</real>
      <key>public.kern2.nnr</key>
      <real>-14.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-24.5</real>
      <key>seven.alt</key>
      <real>-14.0</real>
      <key>underscore</key>
      <real>-17.5</real>
    </dict>
    <key>i</key>
    <dict>
      <key>l</key>
      <real>1.4000000000000001</real>
      <key>public.kern2.quotes</key>
      <real>-17.5</real>
      <key>public.kern2.rxr</key>
      <real>-8.166666666666666</real>
    </dict>
    <key>j</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-24.5</real>
    </dict>
    <key>k</key>
    <dict>
      <key>underscore</key>
      <real>-21.000000000000004</real>
    </dict>
    <key>l</key>
    <dict>
      <key>i</key>
      <real>1.4000000000000001</real>
    </dict>
    <key>less</key>
    <dict>
      <key>public.kern2.bars</key>
      <real>-17.5</real>
    </dict>
    <key>numbersign</key>
    <dict>
      <key>bracketright</key>
      <real>-35.0</real>
    </dict>
    <key>ordinalfeminine</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-80.5</real>
      <key>public.kern2.tiltedback</key>
      <real>0.0</real>
    </dict>
    <key>ordinalmasculine</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-98.0</real>
    </dict>
    <key>percent</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-98.0</real>
    </dict>
    <key>permille</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-98.0</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>S</key>
      <real>-7.0</real>
      <key>bracketright</key>
      <real>-17.5</real>
      <key>public.kern2.J</key>
      <real>-3.5</real>
      <key>public.kern2.apostrophe</key>
      <real>-105.0</real>
      <key>public.kern2.axa</key>
      <real>-2.1875</real>
      <key>public.kern2.axr</key>
      <real>-5.6000000000000005</real>
      <key>public.kern2.axxa</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.axxr</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.bars</key>
      <real>-105.0</real>
      <key>public.kern2.j</key>
      <real>-157.5</real>
      <key>public.kern2.nnna</key>
      <real>-140.0</real>
      <key>public.kern2.quotes</key>
      <real>-140.0</real>
      <key>public.kern2.rxa</key>
      <real>-5.6000000000000005</real>
      <key>public.kern2.rxr</key>
      <real>-7.7</real>
      <key>public.kern2.rxxa</key>
      <real>-8.4</real>
      <key>public.kern2.rxxr</key>
      <real>-8.4</real>
      <key>space</key>
      <real>-17.5</real>
    </dict>
    <key>public.kern1.apostrophe</key>
    <dict>
      <key>public.kern2.axa</key>
      <real>-35.0</real>
      <key>public.kern2.axr</key>
      <real>-105.0</real>
      <key>public.kern2.rxa</key>
      <real>-35.0</real>
      <key>public.kern2.rxr</key>
      <real>-105.0</real>
      <key>public.kern2.tilted</key>
      <real>-136.5</real>
    </dict>
    <key>public.kern1.ara</key>
    <dict>
      <key>a</key>
      <real>-10.500000000000002</real>
      <key>bracketright</key>
      <real>-35.0</real>
      <key>public.kern2.J</key>
      <real>-8.75</real>
      <key>public.kern2.apostrophe</key>
      <real>-17.5</real>
      <key>public.kern2.axr</key>
      <real>-7.0</real>
      <key>public.kern2.axxr</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.bars</key>
      <real>-10.500000000000002</real>
      <key>public.kern2.i_with</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.j</key>
      <real>-157.5</real>
      <key>public.kern2.nnna</key>
      <real>-8.75</real>
      <key>public.kern2.quotes</key>
      <real>-17.5</real>
      <key>public.kern2.rxa</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.rxr</key>
      <real>-14.0</real>
      <key>public.kern2.rxxr</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.tiltedback</key>
      <real>-35.0</real>
      <key>three.alt</key>
      <real>-8.75</real>
      <key>two.alt</key>
      <real>-1.4000000000000001</real>
      <key>underscore</key>
      <real>-17.5</real>
    </dict>
    <key>public.kern1.arra</key>
    <dict>
      <key>a</key>
      <real>-8.75</real>
      <key>bracketright</key>
      <real>-17.5</real>
      <key>public.kern2.J</key>
      <real>-8.75</real>
      <key>public.kern2.axr</key>
      <real>-2.1875</real>
      <key>public.kern2.bars</key>
      <real>-21.0</real>
      <key>public.kern2.j</key>
      <real>-157.5</real>
      <key>public.kern2.nnna</key>
      <real>-3.5</real>
      <key>public.kern2.rxr</key>
      <real>-4.375</real>
      <key>public.kern2.rxxr</key>
      <real>-5.6000000000000005</real>
      <key>three.alt</key>
      <real>-8.75</real>
      <key>two.alt</key>
      <real>-1.4000000000000001</real>
      <key>x</key>
      <real>-3.5</real>
    </dict>
    <key>public.kern1.axa</key>
    <dict>
      <key>a</key>
      <real>-7.0</real>
      <key>bracketright</key>
      <real>-35.0</real>
      <key>public.kern2.J</key>
      <real>-8.75</real>
      <key>public.kern2.apostrophe</key>
      <real>-17.5</real>
      <key>public.kern2.axr</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.axxr</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.i_with</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.j</key>
      <real>-157.5</real>
      <key>public.kern2.nnna</key>
      <real>-8.75</real>
      <key>public.kern2.quotes</key>
      <real>-8.75</real>
      <key>public.kern2.rxa</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.rxr</key>
      <real>-3.5</real>
      <key>public.kern2.rxxr</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.tiltedback</key>
      <real>-35.0</real>
      <key>three.alt</key>
      <real>-8.75</real>
      <key>two.alt</key>
      <real>-1.4000000000000001</real>
    </dict>
    <key>public.kern1.axr</key>
    <dict>
      <key>a</key>
      <real>-15.4</real>
      <key>bracketright</key>
      <real>-35.0</real>
      <key>eight.alt</key>
      <real>-5.6000000000000005</real>
      <key>public.kern2.J</key>
      <real>-4.375</real>
      <key>public.kern2.apostrophe</key>
      <real>-35.0</real>
      <key>public.kern2.axa</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.axr</key>
      <real>-5.6000000000000005</real>
      <key>public.kern2.axxa</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.axxr</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.i_with</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.j</key>
      <real>-157.5</real>
      <key>public.kern2.na</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.nna</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.nnna</key>
      <real>-59.5</real>
      <key>public.kern2.quotes</key>
      <real>-17.5</real>
      <key>public.kern2.rxa</key>
      <real>-2.1875</real>
      <key>public.kern2.rxr</key>
      <real>-3.5</real>
      <key>public.kern2.rxxa</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.rxxr</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.tiltedback</key>
      <real>-59.5</real>
      <key>seven.alt</key>
      <real>-7.0</real>
      <key>two.alt</key>
      <real>-2.8000000000000003</real>
      <key>underscore</key>
      <real>-28.0</real>
      <key>x</key>
      <real>-3.5</real>
    </dict>
    <key>public.kern1.axxa</key>
    <dict>
      <key>a</key>
      <real>-5.6000000000000005</real>
      <key>bracketright</key>
      <real>-17.5</real>
      <key>public.kern2.J</key>
      <real>-8.75</real>
      <key>public.kern2.axr</key>
      <real>-2.1875</real>
      <key>public.kern2.i_with</key>
      <real>17.499999999999996</real>
      <key>public.kern2.j</key>
      <real>-157.5</real>
      <key>public.kern2.nnna</key>
      <real>-3.5</real>
      <key>public.kern2.rxr</key>
      <real>-4.375</real>
      <key>three.alt</key>
      <real>-8.75</real>
      <key>two</key>
      <real>-5.6000000000000005</real>
      <key>two.alt</key>
      <real>-1.4000000000000001</real>
    </dict>
    <key>public.kern1.axxr</key>
    <dict>
      <key>a</key>
      <real>-7.0</real>
      <key>bracketright</key>
      <real>-35.0</real>
      <key>public.kern2.J</key>
      <real>-8.75</real>
      <key>public.kern2.axa</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.axr</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.i_with</key>
      <real>8.749999999999998</real>
      <key>public.kern2.j</key>
      <real>-157.5</real>
      <key>public.kern2.nnna</key>
      <real>-14.0</real>
      <key>public.kern2.quotes</key>
      <real>-28.0</real>
      <key>public.kern2.rxa</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.rxr</key>
      <real>-4.666666666666667</real>
      <key>public.kern2.tiltedback</key>
      <real>-24.5</real>
      <key>three.alt</key>
      <real>-8.75</real>
      <key>two.alt</key>
      <real>-1.4000000000000001</real>
    </dict>
    <key>public.kern1.axxxa</key>
    <dict>
      <key>bracketright</key>
      <real>17.5</real>
    </dict>
    <key>public.kern1.bars</key>
    <dict>
      <key>X</key>
      <real>-21.0</real>
      <key>a</key>
      <real>-7.0</real>
      <key>eight</key>
      <real>-21.0</real>
      <key>eight.alt</key>
      <real>-21.0</real>
      <key>greater</key>
      <real>-17.5</real>
      <key>public.kern2.J</key>
      <real>-105.0</real>
      <key>public.kern2.j</key>
      <real>-140.0</real>
      <key>public.kern2.nnna</key>
      <real>-105.0</real>
      <key>public.kern2.tilted</key>
      <real>-52.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-52.5</real>
      <key>seven</key>
      <real>-7.0</real>
      <key>three</key>
      <real>-7.0</real>
      <key>three.alt</key>
      <real>-7.0</real>
      <key>trademark</key>
      <real>0.0</real>
      <key>two</key>
      <real>-10.500000000000002</real>
      <key>two.alt</key>
      <real>-10.500000000000002</real>
      <key>x</key>
      <real>-10.500000000000002</real>
    </dict>
    <key>public.kern1.desc</key>
    <dict>
      <key>a</key>
      <real>-5.6000000000000005</real>
      <key>bracketright</key>
      <real>-7.0</real>
      <key>public.kern2.J</key>
      <real>-8.75</real>
      <key>public.kern2.apostrophe</key>
      <real>-17.5</real>
      <key>public.kern2.axr</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.axxr</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.j</key>
      <real>-24.5</real>
      <key>public.kern2.nnna</key>
      <real>-8.75</real>
      <key>public.kern2.quotes</key>
      <real>-8.75</real>
      <key>public.kern2.rxa</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.rxr</key>
      <real>-3.5</real>
      <key>public.kern2.rxxr</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.tiltedback</key>
      <real>-35.0</real>
      <key>three.alt</key>
      <real>-8.75</real>
      <key>two.alt</key>
      <real>-1.4000000000000001</real>
    </dict>
    <key>public.kern1.dots</key>
    <dict>
      <key>four</key>
      <real>-17.5</real>
      <key>four.alt</key>
      <real>-17.5</real>
      <key>public.kern2.na</key>
      <real>-70.0</real>
      <key>public.kern2.nnna</key>
      <real>-70.0</real>
      <key>public.kern2.quotes</key>
      <real>-70.0</real>
      <key>public.kern2.rxa</key>
      <real>-17.5</real>
      <key>public.kern2.rxr</key>
      <real>-17.5</real>
      <key>public.kern2.rxxa</key>
      <real>-17.5</real>
      <key>public.kern2.rxxr</key>
      <real>-17.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-119.0</real>
      <key>seven.alt</key>
      <real>-105.0</real>
      <key>three</key>
      <real>-10.500000000000002</real>
      <key>three.alt</key>
      <real>-10.500000000000002</real>
      <key>two</key>
      <real>-17.5</real>
      <key>two.alt</key>
      <real>-17.5</real>
      <key>underscore</key>
      <real>-17.5</real>
    </dict>
    <key>public.kern1.i_with</key>
    <dict>
      <key>a</key>
      <real>-7.0</real>
      <key>public.kern2.J</key>
      <real>-8.75</real>
      <key>public.kern2.axa</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.axr</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.axxa</key>
      <real>17.499999999999996</real>
      <key>public.kern2.axxr</key>
      <real>8.749999999999998</real>
      <key>public.kern2.j</key>
      <real>-157.5</real>
      <key>public.kern2.nnna</key>
      <real>8.749999999999998</real>
      <key>public.kern2.quotes</key>
      <real>8.749999999999998</real>
      <key>public.kern2.rxa</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.rxr</key>
      <real>-4.666666666666667</real>
      <key>public.kern2.rxxa</key>
      <real>17.499999999999996</real>
      <key>public.kern2.rxxr</key>
      <real>8.749999999999998</real>
      <key>three.alt</key>
      <real>-8.75</real>
      <key>two.alt</key>
      <real>-1.4000000000000001</real>
    </dict>
    <key>public.kern1.na</key>
    <dict>
      <key>S</key>
      <real>-7.0</real>
      <key>a</key>
      <real>-5.6000000000000005</real>
      <key>bracketright</key>
      <real>-52.5</real>
      <key>public.kern2.J</key>
      <real>-28.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-17.5</real>
      <key>public.kern2.axa</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.axr</key>
      <real>-13.3</real>
      <key>public.kern2.axxa</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.axxr</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.dots</key>
      <real>-35.0</real>
      <key>public.kern2.j</key>
      <real>-170.625</real>
      <key>public.kern2.nna</key>
      <real>-2.1875</real>
      <key>public.kern2.nnna</key>
      <real>-59.5</real>
      <key>public.kern2.quotes</key>
      <real>-17.5</real>
      <key>public.kern2.rxa</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.rxr</key>
      <real>-3.5</real>
      <key>public.kern2.rxxa</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.rxxr</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.tilted</key>
      <real>-28.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-35.0</real>
      <key>two.alt</key>
      <real>-14.0</real>
      <key>underscore</key>
      <real>-10.500000000000002</real>
      <key>x</key>
      <real>-12.6</real>
    </dict>
    <key>public.kern1.nna</key>
    <dict>
      <key>Z</key>
      <real>-3.5</real>
      <key>a</key>
      <real>-8.75</real>
      <key>bracketright</key>
      <real>-17.5</real>
      <key>public.kern2.J</key>
      <real>-122.5</real>
      <key>public.kern2.axa</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.axr</key>
      <real>-4.375</real>
      <key>public.kern2.axxr</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.dots</key>
      <real>-70.0</real>
      <key>public.kern2.i_with</key>
      <real>17.5</real>
      <key>public.kern2.j</key>
      <real>-166.25</real>
      <key>public.kern2.nnna</key>
      <real>-7.0</real>
      <key>public.kern2.rxa</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.rxr</key>
      <real>-4.375</real>
      <key>public.kern2.rxxr</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.tilted</key>
      <real>-45.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-35.0</real>
      <key>space</key>
      <real>-52.5</real>
      <key>underscore</key>
      <real>-38.5</real>
    </dict>
    <key>public.kern1.nnna</key>
    <dict>
      <key>Z</key>
      <real>-5.6000000000000005</real>
      <key>a</key>
      <real>-24.500000000000004</real>
      <key>bracketright</key>
      <real>-42.0</real>
      <key>public.kern2.J</key>
      <real>-140.0</real>
      <key>public.kern2.ara</key>
      <real>-8.75</real>
      <key>public.kern2.axa</key>
      <real>-8.75</real>
      <key>public.kern2.axr</key>
      <real>-59.5</real>
      <key>public.kern2.axxa</key>
      <real>-3.5</real>
      <key>public.kern2.axxr</key>
      <real>-14.0</real>
      <key>public.kern2.bars</key>
      <real>-105.0</real>
      <key>public.kern2.dots</key>
      <real>-70.0</real>
      <key>public.kern2.i_with</key>
      <real>8.749999999999998</real>
      <key>public.kern2.j</key>
      <real>-175.0</real>
      <key>public.kern2.nnna</key>
      <real>-5.6000000000000005</real>
      <key>public.kern2.rxa</key>
      <real>-8.75</real>
      <key>public.kern2.rxr</key>
      <real>-59.5</real>
      <key>public.kern2.rxxa</key>
      <real>-2.1875</real>
      <key>public.kern2.rxxr</key>
      <real>-10.500000000000002</real>
      <key>public.kern2.tilted</key>
      <real>-87.5</real>
      <key>space</key>
      <real>-70.0</real>
      <key>three.alt</key>
      <real>-24.500000000000004</real>
      <key>two.alt</key>
      <real>-24.500000000000004</real>
      <key>underscore</key>
      <real>-140.0</real>
    </dict>
    <key>public.kern1.nnr</key>
    <dict>
      <key>X</key>
      <real>-14.0</real>
      <key>Z</key>
      <real>-17.5</real>
      <key>bracketright</key>
      <real>-70.0</real>
      <key>four.alt</key>
      <real>-14.0</real>
      <key>public.kern2.J</key>
      <real>-140.0</real>
      <key>public.kern2.axa</key>
      <real>-14.0</real>
      <key>public.kern2.axr</key>
      <real>-24.5</real>
      <key>public.kern2.axxa</key>
      <real>-7.0</real>
      <key>public.kern2.axxr</key>
      <real>-7.0</real>
      <key>public.kern2.bars</key>
      <real>-7.0</real>
      <key>public.kern2.dots</key>
      <real>-122.5</real>
      <key>public.kern2.j</key>
      <real>-175.0</real>
      <key>public.kern2.nnna</key>
      <real>-22.75</real>
      <key>public.kern2.quotes</key>
      <real>-8.75</real>
      <key>public.kern2.rxa</key>
      <real>-14.0</real>
      <key>public.kern2.rxr</key>
      <real>-28.0</real>
      <key>public.kern2.rxxa</key>
      <real>-7.0</real>
      <key>public.kern2.rxxr</key>
      <real>-7.0</real>
      <key>public.kern2.tilted</key>
      <real>-70.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-35.0</real>
      <key>space</key>
      <real>-70.0</real>
      <key>underscore</key>
      <real>-77.0</real>
    </dict>
    <key>public.kern1.nr</key>
    <dict>
      <key>bracketright</key>
      <real>-52.5</real>
      <key>public.kern2.J</key>
      <real>-100.625</real>
      <key>public.kern2.axa</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.axr</key>
      <real>-8.75</real>
      <key>public.kern2.dots</key>
      <real>-70.0</real>
      <key>public.kern2.j</key>
      <real>-171.85</real>
      <key>public.kern2.nnna</key>
      <real>-7.0</real>
      <key>public.kern2.quotes</key>
      <real>-28.0</real>
      <key>public.kern2.rxa</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.rxr</key>
      <real>-4.375</real>
      <key>public.kern2.tilted</key>
      <real>-52.5</real>
      <key>underscore</key>
      <real>-70.0</real>
      <key>x</key>
      <real>-2.8000000000000003</real>
    </dict>
    <key>public.kern1.op_circle</key>
    <dict>
      <key>bracketright</key>
      <real>-140.0</real>
      <key>public.kern2.tilted</key>
      <real>-70.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-70.0</real>
      <key>underscore</key>
      <real>-175.0</real>
    </dict>
    <key>public.kern1.quotes</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-175.0</real>
      <key>public.kern2.axa</key>
      <real>-87.5</real>
      <key>public.kern2.axr</key>
      <real>-140.0</real>
      <key>public.kern2.axxa</key>
      <real>-24.500000000000004</real>
      <key>public.kern2.axxr</key>
      <real>-70.0</real>
      <key>public.kern2.dots</key>
      <real>-70.0</real>
      <key>public.kern2.i_with</key>
      <real>8.749999999999998</real>
      <key>public.kern2.j</key>
      <real>-175.0</real>
      <key>public.kern2.nnna</key>
      <real>-17.5</real>
      <key>public.kern2.rxa</key>
      <real>-87.5</real>
      <key>public.kern2.rxr</key>
      <real>-140.0</real>
      <key>public.kern2.rxxr</key>
      <real>-70.0</real>
      <key>public.kern2.tilted</key>
      <real>-168.0</real>
      <key>space</key>
      <real>-70.0</real>
    </dict>
    <key>public.kern1.quotesleft</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-157.5</real>
      <key>public.kern2.axa</key>
      <real>-8.75</real>
      <key>public.kern2.axr</key>
      <real>-17.5</real>
      <key>public.kern2.axxr</key>
      <real>-17.5</real>
      <key>public.kern2.dots</key>
      <real>-70.0</real>
      <key>public.kern2.i_with</key>
      <real>8.749999999999998</real>
      <key>public.kern2.j</key>
      <real>-157.5</real>
      <key>public.kern2.rxa</key>
      <real>-8.75</real>
      <key>public.kern2.rxr</key>
      <real>-17.5</real>
      <key>public.kern2.rxxr</key>
      <real>-17.5</real>
      <key>public.kern2.tilted</key>
      <real>-119.0</real>
      <key>space</key>
      <real>-70.0</real>
    </dict>
    <key>public.kern1.rrrr</key>
    <dict>
      <key>X</key>
      <real>-7.0</real>
      <key>a</key>
      <real>-7.7</real>
      <key>bracketright</key>
      <real>-52.5</real>
      <key>eight.alt</key>
      <real>-3.5</real>
      <key>public.kern2.J</key>
      <real>-15.4</real>
      <key>public.kern2.apostrophe</key>
      <real>-3.5</real>
      <key>public.kern2.axa</key>
      <real>-7.7</real>
      <key>public.kern2.axr</key>
      <real>-16.8</real>
      <key>public.kern2.axxa</key>
      <real>-8.75</real>
      <key>public.kern2.axxr</key>
      <real>-8.75</real>
      <key>public.kern2.bars</key>
      <real>-21.0</real>
      <key>public.kern2.dots</key>
      <real>-17.5</real>
      <key>public.kern2.i_with</key>
      <real>8.749999999999998</real>
      <key>public.kern2.j</key>
      <real>-166.25</real>
      <key>public.kern2.na</key>
      <real>-8.75</real>
      <key>public.kern2.nnna</key>
      <real>-11.55</real>
      <key>public.kern2.quotes</key>
      <real>-35.0</real>
      <key>public.kern2.rxa</key>
      <real>-5.6000000000000005</real>
      <key>public.kern2.rxr</key>
      <real>-8.75</real>
      <key>public.kern2.rxxa</key>
      <real>-8.4</real>
      <key>public.kern2.rxxr</key>
      <real>-14.700000000000001</real>
      <key>public.kern2.tilted</key>
      <real>-24.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-24.5</real>
      <key>three.alt</key>
      <real>-1.4000000000000001</real>
      <key>two</key>
      <real>-27.999999999999996</real>
      <key>two.alt</key>
      <real>-2.8000000000000003</real>
      <key>underscore</key>
      <real>-35.0</real>
    </dict>
    <key>public.kern1.rxa</key>
    <dict>
      <key>a</key>
      <real>-8.75</real>
      <key>bracketright</key>
      <real>-56.0</real>
      <key>public.kern2.J</key>
      <real>-14.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-17.5</real>
      <key>public.kern2.axa</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.axr</key>
      <real>-2.1875</real>
      <key>public.kern2.axxr</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.dots</key>
      <real>-17.5</real>
      <key>public.kern2.i_with</key>
      <real>-0.7000000000000001</real>
      <key>public.kern2.j</key>
      <real>-166.25</real>
      <key>public.kern2.nna</key>
      <real>-2.1875</real>
      <key>public.kern2.nnna</key>
      <real>-8.75</real>
      <key>public.kern2.quotes</key>
      <real>-8.75</real>
      <key>public.kern2.rxr</key>
      <real>-3.5</real>
      <key>public.kern2.tilted</key>
      <real>-24.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-35.0</real>
      <key>two.alt</key>
      <real>-1.4000000000000001</real>
      <key>underscore</key>
      <real>-28.0</real>
    </dict>
    <key>public.kern1.rxr</key>
    <dict>
      <key>a</key>
      <real>-14.0</real>
      <key>bracketright</key>
      <real>-56.0</real>
      <key>eight.alt</key>
      <real>-7.0</real>
      <key>i</key>
      <real>-8.166666666666666</real>
      <key>public.kern2.J</key>
      <real>-14.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-35.0</real>
      <key>public.kern2.axa</key>
      <real>-3.5</real>
      <key>public.kern2.axr</key>
      <real>-3.5</real>
      <key>public.kern2.axxa</key>
      <real>-4.375</real>
      <key>public.kern2.axxr</key>
      <real>-4.666666666666667</real>
      <key>public.kern2.dots</key>
      <real>-17.5</real>
      <key>public.kern2.i_with</key>
      <real>-4.666666666666667</real>
      <key>public.kern2.j</key>
      <real>-166.25</real>
      <key>public.kern2.na</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.nna</key>
      <real>-7.0</real>
      <key>public.kern2.nnna</key>
      <real>-59.5</real>
      <key>public.kern2.quotes</key>
      <real>-17.5</real>
      <key>public.kern2.rxa</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.rxr</key>
      <real>-2.8000000000000003</real>
      <key>public.kern2.rxxa</key>
      <real>-4.666666666666667</real>
      <key>public.kern2.rxxr</key>
      <real>-5.6000000000000005</real>
      <key>public.kern2.tilted</key>
      <real>-24.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-59.5</real>
      <key>seven.alt</key>
      <real>-14.0</real>
      <key>three.alt</key>
      <real>-10.500000000000002</real>
      <key>two.alt</key>
      <real>-17.5</real>
      <key>underscore</key>
      <real>-28.0</real>
      <key>x</key>
      <real>-14.0</real>
    </dict>
    <key>public.kern1.rxxa</key>
    <dict>
      <key>a</key>
      <real>-5.6000000000000005</real>
      <key>bracketright</key>
      <real>-35.0</real>
      <key>public.kern2.J</key>
      <real>-14.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-17.5</real>
      <key>public.kern2.axr</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.dots</key>
      <real>-17.5</real>
      <key>public.kern2.i_with</key>
      <real>17.499999999999996</real>
      <key>public.kern2.j</key>
      <real>-166.25</real>
      <key>public.kern2.nnna</key>
      <real>-2.1875</real>
      <key>public.kern2.rxr</key>
      <real>-4.666666666666667</real>
      <key>public.kern2.tilted</key>
      <real>-24.5</real>
      <key>two.alt</key>
      <real>-1.4000000000000001</real>
      <key>underscore</key>
      <real>-35.0</real>
    </dict>
    <key>public.kern1.rxxr</key>
    <dict>
      <key>a</key>
      <real>-7.7</real>
      <key>bracketright</key>
      <real>-52.5</real>
      <key>public.kern2.J</key>
      <real>-14.0</real>
      <key>public.kern2.axa</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.axr</key>
      <real>-1.4000000000000001</real>
      <key>public.kern2.dots</key>
      <real>-17.5</real>
      <key>public.kern2.i_with</key>
      <real>8.749999999999998</real>
      <key>public.kern2.j</key>
      <real>-166.25</real>
      <key>public.kern2.nnna</key>
      <real>-10.500000000000002</real>
      <key>public.kern2.quotes</key>
      <real>-28.0</real>
      <key>public.kern2.rxr</key>
      <real>-5.6000000000000005</real>
      <key>public.kern2.tilted</key>
      <real>-24.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-24.5</real>
      <key>three.alt</key>
      <real>-1.4000000000000001</real>
      <key>two</key>
      <real>-17.5</real>
      <key>two.alt</key>
      <real>-2.8000000000000003</real>
      <key>underscore</key>
      <real>-35.0</real>
    </dict>
    <key>public.kern1.tilted</key>
    <dict>
      <key>cent</key>
      <real>-35.0</real>
      <key>colon</key>
      <real>-14.0</real>
      <key>florin</key>
      <real>-70.0</real>
      <key>invquestion</key>
      <real>-140.0</real>
      <key>pound</key>
      <real>-28.0</real>
      <key>public.kern2.J</key>
      <real>-98.0</real>
      <key>public.kern2.ara</key>
      <real>-35.0</real>
      <key>public.kern2.axa</key>
      <real>-35.0</real>
      <key>public.kern2.axr</key>
      <real>-59.5</real>
      <key>public.kern2.axxr</key>
      <real>-24.5</real>
      <key>public.kern2.bars</key>
      <real>-52.5</real>
      <key>public.kern2.dots</key>
      <real>-119.0</real>
      <key>public.kern2.j</key>
      <real>-175.0</real>
      <key>public.kern2.na</key>
      <real>-35.0</real>
      <key>public.kern2.nna</key>
      <real>-35.0</real>
      <key>public.kern2.nnr</key>
      <real>-35.0</real>
      <key>public.kern2.op_circle</key>
      <real>-70.0</real>
      <key>public.kern2.rxa</key>
      <real>-35.0</real>
      <key>public.kern2.rxr</key>
      <real>-59.5</real>
      <key>public.kern2.rxxr</key>
      <real>-24.5</real>
      <key>public.kern2.tilted</key>
      <real>-105.0</real>
      <key>section</key>
      <real>-28.0</real>
      <key>semicolon</key>
      <real>-14.0</real>
      <key>underscore</key>
      <real>-154.0</real>
      <key>won</key>
      <real>-35.0</real>
      <key>yen</key>
      <real>-35.0</real>
    </dict>
    <key>public.kern1.tiltedback</key>
    <dict>
      <key>asterisk</key>
      <real>-70.0</real>
      <key>degree</key>
      <real>-112.0</real>
      <key>euro</key>
      <real>-42.0</real>
      <key>exclamation</key>
      <real>14.0</real>
      <key>ordinalfeminine</key>
      <real>-98.0</real>
      <key>ordinalmasculine</key>
      <real>-98.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-136.5</real>
      <key>public.kern2.bars</key>
      <real>-52.5</real>
      <key>public.kern2.na</key>
      <real>-28.0</real>
      <key>public.kern2.nna</key>
      <real>-45.5</real>
      <key>public.kern2.nnna</key>
      <real>-87.5</real>
      <key>public.kern2.nnr</key>
      <real>-70.0</real>
      <key>public.kern2.nr</key>
      <real>-52.5</real>
      <key>public.kern2.op_circle</key>
      <real>-70.0</real>
      <key>public.kern2.quotes</key>
      <real>-168.0</real>
      <key>public.kern2.quotesleft</key>
      <real>-119.0</real>
      <key>public.kern2.rxa</key>
      <real>-24.5</real>
      <key>public.kern2.rxr</key>
      <real>-24.5</real>
      <key>public.kern2.rxxa</key>
      <real>-24.5</real>
      <key>public.kern2.rxxr</key>
      <real>-24.5</real>
      <key>seven.alt</key>
      <real>-14.0</real>
      <key>underscore</key>
      <real>17.5</real>
      <key>won</key>
      <real>-77.0</real>
      <key>yen</key>
      <real>-77.0</real>
    </dict>
    <key>q</key>
    <dict>
      <key>public.kern2.j</key>
      <real>-21.875</real>
    </dict>
    <key>question</key>
    <dict>
      <key>public.kern2.dots</key>
      <real>-140.0</real>
      <key>public.kern2.tilted</key>
      <real>-98.0</real>
    </dict>
    <key>s</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-12.25</real>
      <key>public.kern2.rxr</key>
      <real>-6.3</real>
      <key>s</key>
      <real>-7.0</real>
      <key>two.alt</key>
      <real>-10.500000000000002</real>
      <key>x</key>
      <real>-4.375</real>
      <key>z</key>
      <real>-7.0</real>
    </dict>
    <key>semicolon</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-14.0</real>
    </dict>
    <key>seven</key>
    <dict>
      <key>underscore</key>
      <real>-14.0</real>
    </dict>
    <key>seven.alt</key>
    <dict>
      <key>underscore</key>
      <real>-14.0</real>
    </dict>
    <key>six</key>
    <dict>
      <key>two</key>
      <real>-2.8000000000000003</real>
    </dict>
    <key>six.alt</key>
    <dict>
      <key>public.kern2.bars</key>
      <real>-7.0</real>
      <key>public.kern2.nnna</key>
      <real>-24.5</real>
      <key>s</key>
      <real>-14.0</real>
      <key>seven.alt</key>
      <real>-17.5</real>
    </dict>
    <key>slash</key>
    <dict>
      <key>slash</key>
      <real>-218.75</real>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-70.0</real>
      <key>public.kern2.j</key>
      <real>-70.0</real>
      <key>public.kern2.nnna</key>
      <real>-70.0</real>
    </dict>
    <key>t</key>
    <dict>
      <key>Z</key>
      <real>-7.0</real>
      <key>a</key>
      <real>-28.0</real>
      <key>five.alt</key>
      <real>-14.0</real>
      <key>public.kern2.J</key>
      <real>-142.1875</real>
      <key>public.kern2.axa</key>
      <real>-21.000000000000004</real>
      <key>public.kern2.axr</key>
      <real>-43.75</real>
      <key>public.kern2.axxa</key>
      <real>-17.5</real>
      <key>public.kern2.axxr</key>
      <real>-8.75</real>
      <key>public.kern2.bars</key>
      <real>-21.000000000000004</real>
      <key>public.kern2.nna</key>
      <real>-14.0</real>
      <key>public.kern2.rxa</key>
      <real>-28.0</real>
      <key>public.kern2.rxr</key>
      <real>-46.375</real>
      <key>public.kern2.rxxa</key>
      <real>-8.75</real>
      <key>public.kern2.rxxr</key>
      <real>-8.75</real>
      <key>public.kern2.tilted</key>
      <real>-98.0</real>
      <key>t</key>
      <real>-10.149999999999999</real>
      <key>three.alt</key>
      <real>-14.0</real>
      <key>two.alt</key>
      <real>-15.4</real>
      <key>underscore</key>
      <real>-91.0</real>
    </dict>
    <key>three.alt</key>
    <dict>
      <key>nine.alt</key>
      <real>-4.375</real>
      <key>public.kern2.bars</key>
      <real>-17.5</real>
      <key>s</key>
      <real>-8.4</real>
      <key>two.alt</key>
      <real>-21.000000000000004</real>
      <key>underscore</key>
      <real>-28.0</real>
    </dict>
    <key>turnedcomma</key>
    <dict>
      <key>public.kern2.axa</key>
      <real>-3.5</real>
      <key>public.kern2.axr</key>
      <real>-42.0</real>
      <key>public.kern2.rxa</key>
      <real>-3.5</real>
      <key>public.kern2.rxr</key>
      <real>-42.0</real>
    </dict>
    <key>two.alt</key>
    <dict>
      <key>underscore</key>
      <real>-17.5</real>
    </dict>
    <key>underscore</key>
    <dict>
      <key>five.alt</key>
      <real>-24.5</real>
      <key>four.alt</key>
      <real>-17.5</real>
      <key>g</key>
      <real>-17.5</real>
      <key>l</key>
      <real>0.0</real>
      <key>period</key>
      <real>-17.5</real>
      <key>public.kern2.J</key>
      <real>-28.0</real>
      <key>public.kern2.j</key>
      <real>-7.0</real>
      <key>public.kern2.nnna</key>
      <real>-140.0</real>
      <key>public.kern2.nnr</key>
      <real>-45.5</real>
      <key>public.kern2.op_circle</key>
      <real>-175.0</real>
      <key>public.kern2.rxa</key>
      <real>-28.0</real>
      <key>public.kern2.rxr</key>
      <real>-28.0</real>
      <key>public.kern2.rxxa</key>
      <real>-35.0</real>
      <key>public.kern2.rxxr</key>
      <real>-35.0</real>
      <key>public.kern2.tilted</key>
      <real>17.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-154.0</real>
      <key>s</key>
      <real>-24.5</real>
      <key>seven</key>
      <real>-35.0</real>
      <key>seven.alt</key>
      <real>-28.0</real>
      <key>three.alt</key>
      <real>-21.000000000000004</real>
      <key>trademark</key>
      <real>0.0</real>
      <key>two.alt</key>
      <real>-28.0</real>
      <key>x</key>
      <real>-17.5</real>
      <key>y</key>
      <real>-8.75</real>
    </dict>
    <key>won</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-77.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-35.0</real>
    </dict>
    <key>yen</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-70.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-35.0</real>
    </dict>
  </dict>
</plist>
