<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>L_with_acute</string>
      <string>L_with_cedilla</string>
      <string>L_with_stroke</string>
    </array>
    <key>public.kern1.apostrophe</key>
    <array>
      <string>apostrophe</string>
      <string>turnedcomma</string>
    </array>
    <key>public.kern1.ara</key>
    <array>
      <string>k</string>
      <string>x</string>
      <string>kra</string>
      <string>k_with_cedilla</string>
    </array>
    <key>public.kern1.arra</key>
    <array>
      <string>K</string>
      <string>X</string>
      <string>K_with_cedilla</string>
    </array>
    <key>public.kern1.axa</key>
    <array>
      <string>z</string>
      <string>i_dotless</string>
      <string>four</string>
      <string>one.alt</string>
      <string>four.alt</string>
      <string>seven.alt</string>
      <string>mu</string>
      <string>pi</string>
      <string>z_with_acute</string>
      <string>z_with_dotabove</string>
      <string>z_with_caron</string>
    </array>
    <key>public.kern1.axr</key>
    <array>
      <string>a</string>
      <string>c</string>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>two.alt</string>
      <string>c_with_cedilla</string>
      <string>c_with_acute</string>
      <string>c_with_circumflex</string>
      <string>c_with_dotabove</string>
      <string>c_with_caron</string>
      <string>a_with_grave</string>
      <string>a_with_acute</string>
      <string>a_with_circumflex</string>
      <string>a_with_smalltilde</string>
      <string>a_with_diaeresis</string>
      <string>a_with_ring</string>
      <string>a_with_macron</string>
      <string>a_with_breve</string>
      <string>a_with_ogonek</string>
      <string>a_with_gravedbl</string>
      <string>a_with_breveinv</string>
      <string>a_with_dotbelow</string>
      <string>a_with_hook</string>
      <string>n_with_smalltilde</string>
      <string>n_with_acute</string>
      <string>n_with_cedilla</string>
      <string>n_with_caron</string>
    </array>
    <key>public.kern1.axxa</key>
    <array>
      <string>d</string>
      <string>l</string>
      <string>C</string>
      <string>C.alt</string>
      <string>E</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>Z</string>
      <string>AE</string>
      <string>OE</string>
      <string>one</string>
      <string>seveneuro</string>
      <string>PI</string>
      <string>SIGMA</string>
      <string>l_with_acute</string>
      <string>l_with_cedilla</string>
      <string>l_with_stroke</string>
      <string>C.alt_with_cedilla</string>
      <string>C.alt_with_acute</string>
      <string>C.alt_with_circumflex</string>
      <string>C.alt_with_dotabove</string>
      <string>C.alt_with_caron</string>
      <string>I_with_grave</string>
      <string>I_with_acute</string>
      <string>I_with_circumflex</string>
      <string>I_with_diaeresis</string>
      <string>I_with_smalltilde</string>
      <string>I_with_macron</string>
      <string>I_with_breve</string>
      <string>I_with_ogonek</string>
      <string>I_with_dotabove</string>
      <string>I_with_gravedbl</string>
      <string>I_with_breveinv</string>
      <string>I_with_dotbelow</string>
      <string>I_with_hook</string>
      <string>G_with_circumflex</string>
      <string>G_with_breve</string>
      <string>G_with_dotabove</string>
      <string>G_with_caron</string>
      <string>Z_with_acute</string>
      <string>Z_with_dotabove</string>
      <string>Z_with_caron</string>
      <string>E_with_grave</string>
      <string>E_with_acute</string>
      <string>E_with_circumflex</string>
      <string>E_with_diaeresis</string>
      <string>E_with_macron</string>
      <string>E_with_breve</string>
      <string>E_with_dotabove</string>
      <string>E_with_ogonek</string>
      <string>E_with_caron</string>
      <string>E_with_gravedbl</string>
      <string>E_with_breveinv</string>
      <string>E_with_dotbelow</string>
      <string>E_with_smalltilde</string>
      <string>E_with_hook</string>
      <string>C_with_cedilla</string>
      <string>C_with_acute</string>
      <string>C_with_circumflex</string>
      <string>C_with_dotabove</string>
      <string>C_with_caron</string>
      <string>AE_with_acute</string>
    </array>
    <key>public.kern1.axxr</key>
    <array>
      <string>i</string>
      <string>i_with_grave</string>
      <string>A</string>
      <string>M</string>
      <string>N</string>
      <string>R</string>
      <string>two</string>
      <string>N_with_smalltilde</string>
      <string>N_with_acute</string>
      <string>N_with_cedilla</string>
      <string>N_with_caron</string>
      <string>A_with_diaeresis</string>
      <string>A_with_grave</string>
      <string>A_with_acute</string>
      <string>A_with_circumflex</string>
      <string>A_with_smalltilde</string>
      <string>A_with_ring</string>
      <string>A_with_macron</string>
      <string>A_with_breve</string>
      <string>A_with_ogonek</string>
      <string>A_with_gravedbl</string>
      <string>A_with_breveinv</string>
      <string>A_with_dotbelow</string>
      <string>A_with_hook</string>
      <string>R_with_acute</string>
      <string>R_with_cedilla</string>
      <string>R_with_caron</string>
      <string>R_with_gravedbl</string>
      <string>R_with_breveinv</string>
      <string>i_with_ogonek</string>
      <string>i_with_gravedbl</string>
      <string>i_with_breveinv</string>
      <string>i_with_dotbelow</string>
      <string>i_with_hook</string>
    </array>
    <key>public.kern1.axxxa</key>
    <array>
      <string>parenleft</string>
      <string>braceleft</string>
      <string>bracketright</string>
    </array>
    <key>public.kern1.bars</key>
    <array>
      <string>hyphen</string>
      <string>emdash</string>
      <string>endash</string>
      <string>tilde</string>
    </array>
    <key>public.kern1.desc</key>
    <array>
      <string>g</string>
      <string>j</string>
      <string>q</string>
      <string>y</string>
      <string>ij</string>
      <string>j_dotless</string>
      <string>eng</string>
      <string>ENG</string>
      <string>j_with_circumflex</string>
      <string>g_with_circumflex</string>
      <string>g_with_breve</string>
      <string>g_with_dotabove</string>
      <string>g_with_caron</string>
      <string>y_with_acute</string>
      <string>y_with_diaeresis</string>
      <string>y_with_circumflex</string>
      <string>y_with_grave</string>
      <string>y_with_smalltilde</string>
      <string>y_with_macron</string>
      <string>y_with_dotbelow</string>
      <string>y_with_hook</string>
    </array>
    <key>public.kern1.dots</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
      <string>comma</string>
      <string>quotelow9</string>
      <string>quotedbllow9</string>
    </array>
    <key>public.kern1.i_with</key>
    <array>
      <string>i_with_acute</string>
      <string>i_with_circumflex</string>
      <string>i_with_diaeresis</string>
      <string>i_with_smalltilde</string>
      <string>i_with_macron</string>
      <string>i_with_breve</string>
    </array>
    <key>public.kern1.na</key>
    <array>
      <string>e</string>
      <string>ae</string>
      <string>oe</string>
      <string>e_with_grave</string>
      <string>e_with_acute</string>
      <string>e_with_circumflex</string>
      <string>e_with_diaeresis</string>
      <string>e_with_macron</string>
      <string>e_with_breve</string>
      <string>e_with_dotabove</string>
      <string>e_with_ogonek</string>
      <string>e_with_caron</string>
      <string>e_with_gravedbl</string>
      <string>e_with_breveinv</string>
      <string>e_with_dotbelow</string>
      <string>e_with_smalltilde</string>
      <string>e_with_hook</string>
      <string>ae_with_acute</string>
    </array>
    <key>public.kern1.nna</key>
    <array>
      <string>f</string>
      <string>F</string>
      <string>ordinalfeminine</string>
    </array>
    <key>public.kern1.nnna</key>
    <array>
      <string>T</string>
      <string>T_with_cedilla</string>
      <string>T_with_commabelow</string>
    </array>
    <key>public.kern1.nnr</key>
    <array>
      <string>r</string>
      <string>t</string>
      <string>question</string>
      <string>ampersand</string>
      <string>ordinalmasculine</string>
      <string>r_with_acute</string>
      <string>r_with_cedilla</string>
      <string>r_with_caron</string>
      <string>r_with_gravedbl</string>
      <string>r_with_breveinv</string>
      <string>t_with_cedilla</string>
      <string>t_with_commabelow</string>
    </array>
    <key>public.kern1.nr</key>
    <array>
      <string>P</string>
      <string>THORN</string>
    </array>
    <key>public.kern1.op_circle</key>
    <array>
      <string>at</string>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>public.kern1.quotes</key>
    <array>
      <string>quotesingle</string>
      <string>quoteright</string>
      <string>quotedouble</string>
      <string>quotedblright</string>
      <string>asterisk</string>
    </array>
    <key>public.kern1.quotesleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
      <string>asciicircum</string>
    </array>
    <key>public.kern1.rrrr</key>
    <array>
      <string>eszett</string>
      <string>B</string>
      <string>eight</string>
    </array>
    <key>public.kern1.rxa</key>
    <array>
      <string>s</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>three.alt</string>
      <string>five.alt</string>
      <string>eight.alt</string>
      <string>sigma</string>
      <string>w_with_circumflex</string>
      <string>w_with_grave</string>
      <string>w_with_acute</string>
      <string>w_with_diaeresis</string>
      <string>s_with_acute</string>
      <string>s_with_circumflex</string>
      <string>s_with_cedilla</string>
      <string>s_with_caron</string>
      <string>s_with_commabelow</string>
      <string>u_with_grave</string>
      <string>u_with_acute</string>
      <string>u_with_circumflex</string>
      <string>u_with_diaeresis</string>
      <string>u_with_smalltilde</string>
      <string>u_with_macron</string>
      <string>u_with_breve</string>
      <string>u_with_ring</string>
      <string>u_with_acutedbl</string>
      <string>u_with_ogonek</string>
      <string>u_with_gravedbl</string>
      <string>u_with_breveinv</string>
      <string>u_with_dotbelow</string>
      <string>u_with_hook</string>
      <string>u_with_diaeresisbelow</string>
    </array>
    <key>public.kern1.rxr</key>
    <array>
      <string>b</string>
      <string>o</string>
      <string>p</string>
      <string>thorn</string>
      <string>schwa</string>
      <string>zero.alt</string>
      <string>six.alt</string>
      <string>nine.alt</string>
      <string>o_with_grave</string>
      <string>o_with_acute</string>
      <string>o_with_circumflex</string>
      <string>o_with_smalltilde</string>
      <string>o_with_diaeresis</string>
      <string>o_with_stroke</string>
      <string>o_with_macron</string>
      <string>o_with_breve</string>
      <string>o_with_ogonek</string>
      <string>o_with_acutedbl</string>
      <string>o_with_gravedbl</string>
      <string>o_with_breveinv</string>
      <string>o_with_dotbelow</string>
      <string>o_with_hook</string>
    </array>
    <key>public.kern1.rxxa</key>
    <array>
      <string>J</string>
      <string>S</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>Y</string>
      <string>IJ</string>
      <string>five</string>
      <string>exclamation</string>
      <string>yen</string>
      <string>won</string>
      <string>S_with_acute</string>
      <string>S_with_circumflex</string>
      <string>S_with_cedilla</string>
      <string>S_with_caron</string>
      <string>S_with_commabelow</string>
      <string>W_with_circumflex</string>
      <string>W_with_grave</string>
      <string>W_with_acute</string>
      <string>W_with_diaeresis</string>
      <string>J_with_circumflex</string>
      <string>Y_with_acute</string>
      <string>Y_with_diaeresis</string>
      <string>Y_with_circumflex</string>
      <string>Y_with_grave</string>
      <string>Y_with_smalltilde</string>
      <string>Y_with_macron</string>
      <string>Y_with_dotbelow</string>
      <string>Y_with_hook</string>
      <string>U_with_grave</string>
      <string>U_with_acute</string>
      <string>U_with_circumflex</string>
      <string>U_with_diaeresis</string>
      <string>U_with_smalltilde</string>
      <string>U_with_macron</string>
      <string>U_with_breve</string>
      <string>U_with_ring</string>
      <string>U_with_acutedbl</string>
      <string>U_with_ogonek</string>
      <string>U_with_gravedbl</string>
      <string>U_with_breveinv</string>
      <string>U_with_dotbelow</string>
      <string>U_with_hook</string>
      <string>U_with_diaeresisbelow</string>
    </array>
    <key>public.kern1.rxxr</key>
    <array>
      <string>eth</string>
      <string>D</string>
      <string>O</string>
      <string>Q</string>
      <string>ETH</string>
      <string>SCHWA</string>
      <string>zero</string>
      <string>three</string>
      <string>six</string>
      <string>nine</string>
      <string>O_with_grave</string>
      <string>O_with_acute</string>
      <string>O_with_circumflex</string>
      <string>O_with_smalltilde</string>
      <string>O_with_diaeresis</string>
      <string>O_with_stroke</string>
      <string>O_with_macron</string>
      <string>O_with_breve</string>
      <string>O_with_ogonek</string>
      <string>O_with_acutedbl</string>
      <string>O_with_gravedbl</string>
      <string>O_with_breveinv</string>
      <string>O_with_dotbelow</string>
      <string>O_with_hook</string>
    </array>
    <key>public.kern1.rxxxr</key>
    <array>
      <string>parenright</string>
      <string>braceright</string>
    </array>
    <key>public.kern1.tilted</key>
    <array>
      <string>slash</string>
      <string>numbersign</string>
    </array>
    <key>public.kern1.tiltedback</key>
    <array>
      <string>backslash</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>J_with_circumflex</string>
    </array>
    <key>public.kern2.apostrophe</key>
    <array>
      <string>apostrophe</string>
      <string>turnedcomma</string>
    </array>
    <key>public.kern2.axa</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>x</string>
      <string>z</string>
      <string>i_dotless</string>
      <string>kra</string>
      <string>eng</string>
      <string>one.alt</string>
      <string>mu</string>
      <string>r_with_acute</string>
      <string>r_with_cedilla</string>
      <string>r_with_caron</string>
      <string>r_with_gravedbl</string>
      <string>r_with_breveinv</string>
      <string>z_with_acute</string>
      <string>z_with_dotabove</string>
      <string>z_with_caron</string>
      <string>n_with_smalltilde</string>
      <string>n_with_acute</string>
      <string>n_with_cedilla</string>
      <string>n_with_caron</string>
    </array>
    <key>public.kern2.axr</key>
    <array>
      <string>s</string>
      <string>two.alt</string>
      <string>s_with_acute</string>
      <string>s_with_circumflex</string>
      <string>s_with_cedilla</string>
      <string>s_with_caron</string>
      <string>s_with_commabelow</string>
    </array>
    <key>public.kern2.axxa</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>thorn</string>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
      <string>X</string>
      <string>Z</string>
      <string>THORN</string>
      <string>ENG</string>
      <string>one</string>
      <string>nine</string>
      <string>PI</string>
      <string>SIGMA</string>
      <string>N_with_smalltilde</string>
      <string>N_with_acute</string>
      <string>N_with_cedilla</string>
      <string>N_with_caron</string>
      <string>R_with_acute</string>
      <string>R_with_cedilla</string>
      <string>R_with_caron</string>
      <string>R_with_gravedbl</string>
      <string>R_with_breveinv</string>
      <string>I_with_grave</string>
      <string>I_with_acute</string>
      <string>I_with_circumflex</string>
      <string>I_with_diaeresis</string>
      <string>I_with_smalltilde</string>
      <string>I_with_macron</string>
      <string>I_with_breve</string>
      <string>I_with_ogonek</string>
      <string>I_with_dotabove</string>
      <string>I_with_gravedbl</string>
      <string>I_with_breveinv</string>
      <string>I_with_dotbelow</string>
      <string>I_with_hook</string>
      <string>k_with_cedilla</string>
      <string>Z_with_acute</string>
      <string>Z_with_dotabove</string>
      <string>Z_with_caron</string>
      <string>E_with_grave</string>
      <string>E_with_acute</string>
      <string>E_with_circumflex</string>
      <string>E_with_diaeresis</string>
      <string>E_with_macron</string>
      <string>E_with_breve</string>
      <string>E_with_dotabove</string>
      <string>E_with_ogonek</string>
      <string>E_with_caron</string>
      <string>E_with_gravedbl</string>
      <string>E_with_breveinv</string>
      <string>E_with_dotbelow</string>
      <string>E_with_smalltilde</string>
      <string>E_with_hook</string>
      <string>L_with_acute</string>
      <string>L_with_cedilla</string>
      <string>L_with_stroke</string>
      <string>K_with_cedilla</string>
    </array>
    <key>public.kern2.axxr</key>
    <array>
      <string>f</string>
      <string>i</string>
      <string>t</string>
      <string>ij</string>
      <string>eszett</string>
      <string>i_with_acute</string>
      <string>A</string>
      <string>S</string>
      <string>AE</string>
      <string>two</string>
      <string>invexclamation</string>
      <string>A_with_diaeresis</string>
      <string>A_with_grave</string>
      <string>A_with_acute</string>
      <string>A_with_circumflex</string>
      <string>A_with_smalltilde</string>
      <string>A_with_ring</string>
      <string>A_with_macron</string>
      <string>A_with_breve</string>
      <string>A_with_ogonek</string>
      <string>A_with_gravedbl</string>
      <string>A_with_breveinv</string>
      <string>A_with_dotbelow</string>
      <string>A_with_hook</string>
      <string>S_with_acute</string>
      <string>S_with_circumflex</string>
      <string>S_with_cedilla</string>
      <string>S_with_caron</string>
      <string>S_with_commabelow</string>
      <string>i_with_ogonek</string>
      <string>i_with_gravedbl</string>
      <string>i_with_breveinv</string>
      <string>i_with_dotbelow</string>
      <string>i_with_hook</string>
      <string>AE_with_acute</string>
      <string>t_with_cedilla</string>
      <string>t_with_commabelow</string>
    </array>
    <key>public.kern2.axxxa</key>
    <array>
      <string>parenright</string>
      <string>braceright</string>
      <string>bracketleft</string>
    </array>
    <key>public.kern2.bars</key>
    <array>
      <string>hyphen</string>
      <string>emdash</string>
      <string>endash</string>
      <string>tilde</string>
    </array>
    <key>public.kern2.dots</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
      <string>comma</string>
      <string>quotelow9</string>
      <string>quotedbllow9</string>
    </array>
    <key>public.kern2.i_with</key>
    <array>
      <string>i_with_grave</string>
      <string>i_with_circumflex</string>
      <string>i_with_diaeresis</string>
      <string>i_with_smalltilde</string>
      <string>i_with_macron</string>
      <string>i_with_breve</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
      <string>j_dotless</string>
      <string>j_with_circumflex</string>
    </array>
    <key>public.kern2.na</key>
    <array>
      <string>four.alt</string>
      <string>ETH</string>
    </array>
    <key>public.kern2.nna</key>
    <array>
      <string>seven.alt</string>
      <string>four</string>
    </array>
    <key>public.kern2.nnna</key>
    <array>
      <string>T</string>
      <string>seven</string>
      <string>percent</string>
      <string>permille</string>
      <string>trademark</string>
      <string>degree</string>
      <string>T_with_cedilla</string>
      <string>T_with_commabelow</string>
    </array>
    <key>public.kern2.nnr</key>
    <array>
      <string>pilcrow</string>
      <string>ordinalfeminine</string>
      <string>ordinalmasculine</string>
    </array>
    <key>public.kern2.op_circle</key>
    <array>
      <string>at</string>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>public.kern2.quotes</key>
    <array>
      <string>quotesingle</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedouble</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>asterisk</string>
      <string>asciicircum</string>
    </array>
    <key>public.kern2.rxa</key>
    <array>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>y</string>
      <string>five.alt</string>
      <string>eight.alt</string>
      <string>w_with_circumflex</string>
      <string>w_with_grave</string>
      <string>w_with_acute</string>
      <string>w_with_diaeresis</string>
      <string>u_with_grave</string>
      <string>u_with_acute</string>
      <string>u_with_circumflex</string>
      <string>u_with_diaeresis</string>
      <string>u_with_smalltilde</string>
      <string>u_with_macron</string>
      <string>u_with_breve</string>
      <string>u_with_ring</string>
      <string>u_with_acutedbl</string>
      <string>u_with_ogonek</string>
      <string>u_with_gravedbl</string>
      <string>u_with_breveinv</string>
      <string>u_with_dotbelow</string>
      <string>u_with_hook</string>
      <string>u_with_diaeresisbelow</string>
      <string>y_with_acute</string>
      <string>y_with_diaeresis</string>
      <string>y_with_circumflex</string>
      <string>y_with_grave</string>
      <string>y_with_smalltilde</string>
      <string>y_with_macron</string>
      <string>y_with_dotbelow</string>
      <string>y_with_hook</string>
    </array>
    <key>public.kern2.rxr</key>
    <array>
      <string>a</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>g</string>
      <string>o</string>
      <string>q</string>
      <string>ae</string>
      <string>oe</string>
      <string>eth</string>
      <string>schwa</string>
      <string>zero.alt</string>
      <string>three.alt</string>
      <string>six.alt</string>
      <string>nine.alt</string>
      <string>pi</string>
      <string>sigma</string>
      <string>g_with_circumflex</string>
      <string>g_with_breve</string>
      <string>g_with_dotabove</string>
      <string>g_with_caron</string>
      <string>c_with_cedilla</string>
      <string>c_with_acute</string>
      <string>c_with_circumflex</string>
      <string>c_with_dotabove</string>
      <string>c_with_caron</string>
      <string>a_with_grave</string>
      <string>a_with_acute</string>
      <string>a_with_circumflex</string>
      <string>a_with_smalltilde</string>
      <string>a_with_diaeresis</string>
      <string>a_with_ring</string>
      <string>a_with_macron</string>
      <string>a_with_breve</string>
      <string>a_with_ogonek</string>
      <string>a_with_gravedbl</string>
      <string>a_with_breveinv</string>
      <string>a_with_dotbelow</string>
      <string>a_with_hook</string>
      <string>e_with_grave</string>
      <string>e_with_acute</string>
      <string>e_with_circumflex</string>
      <string>e_with_diaeresis</string>
      <string>e_with_macron</string>
      <string>e_with_breve</string>
      <string>e_with_dotabove</string>
      <string>e_with_ogonek</string>
      <string>e_with_caron</string>
      <string>e_with_gravedbl</string>
      <string>e_with_breveinv</string>
      <string>e_with_dotbelow</string>
      <string>e_with_smalltilde</string>
      <string>e_with_hook</string>
      <string>o_with_grave</string>
      <string>o_with_acute</string>
      <string>o_with_circumflex</string>
      <string>o_with_smalltilde</string>
      <string>o_with_diaeresis</string>
      <string>o_with_stroke</string>
      <string>o_with_macron</string>
      <string>o_with_breve</string>
      <string>o_with_ogonek</string>
      <string>o_with_acutedbl</string>
      <string>o_with_gravedbl</string>
      <string>o_with_breveinv</string>
      <string>o_with_dotbelow</string>
      <string>o_with_hook</string>
      <string>ae_with_acute</string>
    </array>
    <key>public.kern2.rxxa</key>
    <array>
      <string>l</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>Y</string>
      <string>IJ</string>
      <string>five</string>
      <string>exclamation</string>
      <string>yen</string>
      <string>won</string>
      <string>l_with_acute</string>
      <string>l_with_cedilla</string>
      <string>l_with_stroke</string>
      <string>W_with_circumflex</string>
      <string>W_with_grave</string>
      <string>W_with_acute</string>
      <string>W_with_diaeresis</string>
      <string>Y_with_acute</string>
      <string>Y_with_diaeresis</string>
      <string>Y_with_circumflex</string>
      <string>Y_with_grave</string>
      <string>Y_with_smalltilde</string>
      <string>Y_with_macron</string>
      <string>Y_with_dotbelow</string>
      <string>Y_with_hook</string>
      <string>U_with_grave</string>
      <string>U_with_acute</string>
      <string>U_with_circumflex</string>
      <string>U_with_diaeresis</string>
      <string>U_with_smalltilde</string>
      <string>U_with_macron</string>
      <string>U_with_breve</string>
      <string>U_with_ring</string>
      <string>U_with_acutedbl</string>
      <string>U_with_ogonek</string>
      <string>U_with_gravedbl</string>
      <string>U_with_breveinv</string>
      <string>U_with_dotbelow</string>
      <string>U_with_hook</string>
      <string>U_with_diaeresisbelow</string>
    </array>
    <key>public.kern2.rxxr</key>
    <array>
      <string>C</string>
      <string>C.alt</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>OE</string>
      <string>SCHWA</string>
      <string>zero</string>
      <string>three</string>
      <string>six</string>
      <string>eight</string>
      <string>question</string>
      <string>ampersand</string>
      <string>euro</string>
      <string>C.alt_with_cedilla</string>
      <string>C.alt_with_acute</string>
      <string>C.alt_with_circumflex</string>
      <string>C.alt_with_dotabove</string>
      <string>C.alt_with_caron</string>
      <string>G_with_circumflex</string>
      <string>G_with_breve</string>
      <string>G_with_dotabove</string>
      <string>G_with_caron</string>
      <string>C_with_cedilla</string>
      <string>C_with_acute</string>
      <string>C_with_circumflex</string>
      <string>C_with_dotabove</string>
      <string>C_with_caron</string>
      <string>O_with_grave</string>
      <string>O_with_acute</string>
      <string>O_with_circumflex</string>
      <string>O_with_smalltilde</string>
      <string>O_with_diaeresis</string>
      <string>O_with_stroke</string>
      <string>O_with_macron</string>
      <string>O_with_breve</string>
      <string>O_with_ogonek</string>
      <string>O_with_acutedbl</string>
      <string>O_with_gravedbl</string>
      <string>O_with_breveinv</string>
      <string>O_with_dotbelow</string>
      <string>O_with_hook</string>
    </array>
    <key>public.kern2.rxxxr</key>
    <array>
      <string>parenleft</string>
      <string>braceleft</string>
    </array>
    <key>public.kern2.tilted</key>
    <array>
      <string>slash</string>
      <string>numbersign</string>
      <string>divslash</string>
    </array>
    <key>public.kern2.tiltedback</key>
    <array>
      <string>backslash</string>
    </array>
  </dict>
</plist>
