<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C.alt</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-4.0</real>
    </dict>
    <key>E</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-4.0</real>
    </dict>
    <key>G</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-4.0</real>
    </dict>
    <key>Q</key>
    <dict>
      <key>public.kern2.j</key>
      <real>-6.25</real>
      <key>public.kern2.tilted</key>
      <real>5.0</real>
    </dict>
    <key>R</key>
    <dict>
      <key>underscore</key>
      <real>-15.000000000000002</real>
    </dict>
    <key>S</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-11.5</real>
      <key>public.kern2.nnna</key>
      <real>-7.500000000000001</real>
      <key>underscore</key>
      <real>-17.5</real>
      <key>x</key>
      <real>-6.25</real>
    </dict>
    <key>a</key>
    <dict>
      <key>public.kern2.axr</key>
      <real>-3.125</real>
      <key>public.kern2.axxa</key>
      <real>-5.0</real>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>bracketright</key>
      <real>-87.5</real>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-50.0</real>
    </dict>
    <key>backslash</key>
    <dict>
      <key>backslash</key>
      <real>-181.25</real>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>ETH</key>
      <real>-87.5</real>
      <key>THORN</key>
      <real>-50.0</real>
      <key>X</key>
      <real>-12.5</real>
      <key>eight</key>
      <real>-37.5</real>
      <key>five.alt</key>
      <real>-25.0</real>
      <key>four.alt</key>
      <real>-25.0</real>
      <key>g</key>
      <real>-5.0</real>
      <key>l</key>
      <real>-12.5</real>
      <key>nine.alt</key>
      <real>-25.0</real>
      <key>numbersign</key>
      <real>-25.0</real>
      <key>p</key>
      <real>-5.0</real>
      <key>public.kern2.J</key>
      <real>-25.0</real>
      <key>public.kern2.axa</key>
      <real>-25.0</real>
      <key>public.kern2.axr</key>
      <real>-25.0</real>
      <key>public.kern2.axxa</key>
      <real>-12.5</real>
      <key>public.kern2.axxr</key>
      <real>-25.0</real>
      <key>public.kern2.axxxa</key>
      <real>12.5</real>
      <key>public.kern2.j</key>
      <real>-5.0</real>
      <key>public.kern2.nnna</key>
      <real>-30.0</real>
      <key>public.kern2.nnr</key>
      <real>-25.0</real>
      <key>public.kern2.op_circle</key>
      <real>-100.0</real>
      <key>public.kern2.rrrr</key>
      <real>-37.5</real>
      <key>public.kern2.rxa</key>
      <real>-40.0</real>
      <key>public.kern2.rxr</key>
      <real>-40.0</real>
      <key>public.kern2.rxxa</key>
      <real>-25.0</real>
      <key>public.kern2.rxxr</key>
      <real>-37.5</real>
      <key>seven.alt</key>
      <real>-30.0</real>
      <key>three.alt</key>
      <real>-25.0</real>
      <key>trademark</key>
      <real>25.0</real>
      <key>x</key>
      <real>-25.0</real>
      <key>y</key>
      <real>-5.0</real>
    </dict>
    <key>c</key>
    <dict>
      <key>a</key>
      <real>-5.0</real>
      <key>public.kern2.nnna</key>
      <real>-12.5</real>
      <key>s</key>
      <real>-5.0</real>
    </dict>
    <key>colon</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-10.0</real>
    </dict>
    <key>degree</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-80.0</real>
    </dict>
    <key>eight.alt</key>
    <dict>
      <key>nine.alt</key>
      <real>-6.25</real>
      <key>public.kern2.bars</key>
      <real>-12.5</real>
      <key>s</key>
      <real>-6.000000000000001</real>
      <key>two.alt</key>
      <real>-12.5</real>
    </dict>
    <key>exclamation</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>10.0</real>
    </dict>
    <key>five</key>
    <dict>
      <key>two</key>
      <real>-10.0</real>
    </dict>
    <key>five.alt</key>
    <dict>
      <key>two.alt</key>
      <real>-10.0</real>
    </dict>
    <key>florin</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-25.0</real>
    </dict>
    <key>four</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-30.0</real>
      <key>underscore</key>
      <real>-12.5</real>
    </dict>
    <key>four.alt</key>
    <dict>
      <key>T</key>
      <real>-25.0</real>
      <key>public.kern2.nnna</key>
      <real>-37.5</real>
      <key>public.kern2.nnr</key>
      <real>-10.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-17.5</real>
      <key>seven.alt</key>
      <real>-10.0</real>
      <key>underscore</key>
      <real>-12.5</real>
    </dict>
    <key>i</key>
    <dict>
      <key>l</key>
      <real>1.0</real>
      <key>public.kern2.quotes</key>
      <real>-12.5</real>
      <key>public.kern2.rxr</key>
      <real>-5.833333333333333</real>
    </dict>
    <key>j</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-17.5</real>
    </dict>
    <key>k</key>
    <dict>
      <key>underscore</key>
      <real>-15.000000000000002</real>
    </dict>
    <key>l</key>
    <dict>
      <key>i</key>
      <real>1.0</real>
    </dict>
    <key>less</key>
    <dict>
      <key>public.kern2.bars</key>
      <real>-12.5</real>
    </dict>
    <key>numbersign</key>
    <dict>
      <key>bracketright</key>
      <real>-25.0</real>
    </dict>
    <key>ordinalfeminine</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-57.49999999999999</real>
      <key>public.kern2.tiltedback</key>
      <real>0.0</real>
    </dict>
    <key>ordinalmasculine</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-70.0</real>
    </dict>
    <key>percent</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-70.0</real>
    </dict>
    <key>permille</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-70.0</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>S</key>
      <real>-5.0</real>
      <key>bracketright</key>
      <real>-12.5</real>
      <key>public.kern2.J</key>
      <real>-2.5</real>
      <key>public.kern2.apostrophe</key>
      <real>-75.0</real>
      <key>public.kern2.axa</key>
      <real>-1.5625</real>
      <key>public.kern2.axr</key>
      <real>-4.0</real>
      <key>public.kern2.axxa</key>
      <real>-2.0</real>
      <key>public.kern2.axxr</key>
      <real>-2.0</real>
      <key>public.kern2.bars</key>
      <real>-75.0</real>
      <key>public.kern2.j</key>
      <real>-112.5</real>
      <key>public.kern2.nnna</key>
      <real>-100.0</real>
      <key>public.kern2.quotes</key>
      <real>-100.0</real>
      <key>public.kern2.rxa</key>
      <real>-4.0</real>
      <key>public.kern2.rxr</key>
      <real>-5.5</real>
      <key>public.kern2.rxxa</key>
      <real>-6.000000000000001</real>
      <key>public.kern2.rxxr</key>
      <real>-6.000000000000001</real>
      <key>space</key>
      <real>-12.5</real>
    </dict>
    <key>public.kern1.apostrophe</key>
    <dict>
      <key>public.kern2.axa</key>
      <real>-25.0</real>
      <key>public.kern2.axr</key>
      <real>-75.0</real>
      <key>public.kern2.rxa</key>
      <real>-25.0</real>
      <key>public.kern2.rxr</key>
      <real>-75.0</real>
      <key>public.kern2.tilted</key>
      <real>-97.5</real>
    </dict>
    <key>public.kern1.ara</key>
    <dict>
      <key>a</key>
      <real>-7.500000000000001</real>
      <key>bracketright</key>
      <real>-25.0</real>
      <key>public.kern2.J</key>
      <real>-6.25</real>
      <key>public.kern2.apostrophe</key>
      <real>-12.5</real>
      <key>public.kern2.axr</key>
      <real>-5.0</real>
      <key>public.kern2.axxr</key>
      <real>-2.0</real>
      <key>public.kern2.bars</key>
      <real>-7.500000000000001</real>
      <key>public.kern2.i_with</key>
      <real>-2.0</real>
      <key>public.kern2.j</key>
      <real>-112.5</real>
      <key>public.kern2.nnna</key>
      <real>-6.25</real>
      <key>public.kern2.quotes</key>
      <real>-12.5</real>
      <key>public.kern2.rxa</key>
      <real>-1.0</real>
      <key>public.kern2.rxr</key>
      <real>-10.0</real>
      <key>public.kern2.rxxr</key>
      <real>-1.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-25.0</real>
      <key>three.alt</key>
      <real>-6.25</real>
      <key>two.alt</key>
      <real>-1.0</real>
      <key>underscore</key>
      <real>-12.5</real>
    </dict>
    <key>public.kern1.arra</key>
    <dict>
      <key>a</key>
      <real>-6.25</real>
      <key>bracketright</key>
      <real>-12.5</real>
      <key>public.kern2.J</key>
      <real>-6.25</real>
      <key>public.kern2.axr</key>
      <real>-1.5625</real>
      <key>public.kern2.bars</key>
      <real>-15.0</real>
      <key>public.kern2.j</key>
      <real>-112.5</real>
      <key>public.kern2.nnna</key>
      <real>-2.5</real>
      <key>public.kern2.rxr</key>
      <real>-3.125</real>
      <key>public.kern2.rxxr</key>
      <real>-4.0</real>
      <key>three.alt</key>
      <real>-6.25</real>
      <key>two.alt</key>
      <real>-1.0</real>
      <key>x</key>
      <real>-2.5</real>
    </dict>
    <key>public.kern1.axa</key>
    <dict>
      <key>a</key>
      <real>-5.0</real>
      <key>bracketright</key>
      <real>-25.0</real>
      <key>public.kern2.J</key>
      <real>-6.25</real>
      <key>public.kern2.apostrophe</key>
      <real>-12.5</real>
      <key>public.kern2.axr</key>
      <real>-1.0</real>
      <key>public.kern2.axxr</key>
      <real>-2.0</real>
      <key>public.kern2.i_with</key>
      <real>-2.0</real>
      <key>public.kern2.j</key>
      <real>-112.5</real>
      <key>public.kern2.nnna</key>
      <real>-6.25</real>
      <key>public.kern2.quotes</key>
      <real>-6.25</real>
      <key>public.kern2.rxa</key>
      <real>-1.0</real>
      <key>public.kern2.rxr</key>
      <real>-2.5</real>
      <key>public.kern2.rxxr</key>
      <real>-1.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-25.0</real>
      <key>three.alt</key>
      <real>-6.25</real>
      <key>two.alt</key>
      <real>-1.0</real>
    </dict>
    <key>public.kern1.axr</key>
    <dict>
      <key>a</key>
      <real>-11.0</real>
      <key>bracketright</key>
      <real>-25.0</real>
      <key>eight.alt</key>
      <real>-4.0</real>
      <key>public.kern2.J</key>
      <real>-3.125</real>
      <key>public.kern2.apostrophe</key>
      <real>-25.0</real>
      <key>public.kern2.axa</key>
      <real>-1.0</real>
      <key>public.kern2.axr</key>
      <real>-4.0</real>
      <key>public.kern2.axxa</key>
      <real>-0.5</real>
      <key>public.kern2.axxr</key>
      <real>-0.5</real>
      <key>public.kern2.i_with</key>
      <real>-0.5</real>
      <key>public.kern2.j</key>
      <real>-112.5</real>
      <key>public.kern2.na</key>
      <real>-2.0</real>
      <key>public.kern2.nna</key>
      <real>-2.0</real>
      <key>public.kern2.nnna</key>
      <real>-42.5</real>
      <key>public.kern2.quotes</key>
      <real>-12.5</real>
      <key>public.kern2.rxa</key>
      <real>-1.5625</real>
      <key>public.kern2.rxr</key>
      <real>-2.5</real>
      <key>public.kern2.rxxa</key>
      <real>-1.0</real>
      <key>public.kern2.rxxr</key>
      <real>-1.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-42.5</real>
      <key>seven.alt</key>
      <real>-5.0</real>
      <key>two.alt</key>
      <real>-2.0</real>
      <key>underscore</key>
      <real>-20.0</real>
      <key>x</key>
      <real>-2.5</real>
    </dict>
    <key>public.kern1.axxa</key>
    <dict>
      <key>a</key>
      <real>-4.0</real>
      <key>bracketright</key>
      <real>-12.5</real>
      <key>public.kern2.J</key>
      <real>-6.25</real>
      <key>public.kern2.axr</key>
      <real>-1.5625</real>
      <key>public.kern2.i_with</key>
      <real>4.166666666666666</real>
      <key>public.kern2.j</key>
      <real>-112.5</real>
      <key>public.kern2.nnna</key>
      <real>-2.5</real>
      <key>public.kern2.rxr</key>
      <real>-3.125</real>
      <key>three.alt</key>
      <real>-6.25</real>
      <key>two</key>
      <real>-4.0</real>
      <key>two.alt</key>
      <real>-1.0</real>
    </dict>
    <key>public.kern1.axxr</key>
    <dict>
      <key>a</key>
      <real>-5.0</real>
      <key>bracketright</key>
      <real>-25.0</real>
      <key>public.kern2.J</key>
      <real>-6.25</real>
      <key>public.kern2.axa</key>
      <real>-2.0</real>
      <key>public.kern2.axr</key>
      <real>-0.5</real>
      <key>public.kern2.i_with</key>
      <real>2.083333333333333</real>
      <key>public.kern2.j</key>
      <real>-112.5</real>
      <key>public.kern2.nnna</key>
      <real>-10.0</real>
      <key>public.kern2.quotes</key>
      <real>-20.0</real>
      <key>public.kern2.rxa</key>
      <real>-0.5</real>
      <key>public.kern2.rxr</key>
      <real>-3.3333333333333335</real>
      <key>public.kern2.tiltedback</key>
      <real>-17.5</real>
      <key>three.alt</key>
      <real>-6.25</real>
      <key>two.alt</key>
      <real>-1.0</real>
    </dict>
    <key>public.kern1.axxxa</key>
    <dict>
      <key>bracketright</key>
      <real>12.5</real>
    </dict>
    <key>public.kern1.bars</key>
    <dict>
      <key>X</key>
      <real>-15.0</real>
      <key>a</key>
      <real>-5.0</real>
      <key>eight</key>
      <real>-15.0</real>
      <key>eight.alt</key>
      <real>-15.0</real>
      <key>greater</key>
      <real>-12.5</real>
      <key>public.kern2.J</key>
      <real>-75.0</real>
      <key>public.kern2.j</key>
      <real>-100.0</real>
      <key>public.kern2.nnna</key>
      <real>-75.0</real>
      <key>public.kern2.tilted</key>
      <real>-37.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-37.5</real>
      <key>seven</key>
      <real>-5.0</real>
      <key>three</key>
      <real>-5.0</real>
      <key>three.alt</key>
      <real>-5.0</real>
      <key>trademark</key>
      <real>0.0</real>
      <key>two</key>
      <real>-7.500000000000001</real>
      <key>two.alt</key>
      <real>-7.500000000000001</real>
      <key>x</key>
      <real>-7.500000000000001</real>
    </dict>
    <key>public.kern1.desc</key>
    <dict>
      <key>a</key>
      <real>-4.0</real>
      <key>bracketright</key>
      <real>-5.0</real>
      <key>public.kern2.J</key>
      <real>-6.25</real>
      <key>public.kern2.apostrophe</key>
      <real>-12.5</real>
      <key>public.kern2.axr</key>
      <real>-1.0</real>
      <key>public.kern2.axxr</key>
      <real>-2.0</real>
      <key>public.kern2.j</key>
      <real>-17.5</real>
      <key>public.kern2.nnna</key>
      <real>-6.25</real>
      <key>public.kern2.quotes</key>
      <real>-6.25</real>
      <key>public.kern2.rxa</key>
      <real>-1.0</real>
      <key>public.kern2.rxr</key>
      <real>-2.5</real>
      <key>public.kern2.rxxr</key>
      <real>-1.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-25.0</real>
      <key>three.alt</key>
      <real>-6.25</real>
      <key>two.alt</key>
      <real>-1.0</real>
    </dict>
    <key>public.kern1.dots</key>
    <dict>
      <key>four</key>
      <real>-12.5</real>
      <key>four.alt</key>
      <real>-12.5</real>
      <key>public.kern2.na</key>
      <real>-50.0</real>
      <key>public.kern2.nnna</key>
      <real>-50.0</real>
      <key>public.kern2.quotes</key>
      <real>-50.0</real>
      <key>public.kern2.rxa</key>
      <real>-12.5</real>
      <key>public.kern2.rxr</key>
      <real>-12.5</real>
      <key>public.kern2.rxxa</key>
      <real>-12.5</real>
      <key>public.kern2.rxxr</key>
      <real>-12.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-85.0</real>
      <key>seven.alt</key>
      <real>-75.0</real>
      <key>three</key>
      <real>-7.500000000000001</real>
      <key>three.alt</key>
      <real>-7.500000000000001</real>
      <key>two</key>
      <real>-12.5</real>
      <key>two.alt</key>
      <real>-12.5</real>
      <key>underscore</key>
      <real>-12.5</real>
    </dict>
    <key>public.kern1.i_with</key>
    <dict>
      <key>a</key>
      <real>-5.0</real>
      <key>public.kern2.J</key>
      <real>-6.25</real>
      <key>public.kern2.axa</key>
      <real>-2.0</real>
      <key>public.kern2.axr</key>
      <real>-0.5</real>
      <key>public.kern2.axxa</key>
      <real>4.166666666666666</real>
      <key>public.kern2.axxr</key>
      <real>2.083333333333333</real>
      <key>public.kern2.j</key>
      <real>-112.5</real>
      <key>public.kern2.nnna</key>
      <real>2.083333333333333</real>
      <key>public.kern2.quotes</key>
      <real>2.083333333333333</real>
      <key>public.kern2.rxa</key>
      <real>-0.5</real>
      <key>public.kern2.rxr</key>
      <real>-3.3333333333333335</real>
      <key>public.kern2.rxxa</key>
      <real>4.166666666666666</real>
      <key>public.kern2.rxxr</key>
      <real>2.083333333333333</real>
      <key>three.alt</key>
      <real>-6.25</real>
      <key>two.alt</key>
      <real>-1.0</real>
    </dict>
    <key>public.kern1.na</key>
    <dict>
      <key>S</key>
      <real>-5.0</real>
      <key>a</key>
      <real>-4.0</real>
      <key>bracketright</key>
      <real>-37.5</real>
      <key>public.kern2.J</key>
      <real>-20.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-12.5</real>
      <key>public.kern2.axa</key>
      <real>-0.5</real>
      <key>public.kern2.axr</key>
      <real>-9.5</real>
      <key>public.kern2.axxa</key>
      <real>-1.0</real>
      <key>public.kern2.axxr</key>
      <real>-0.5</real>
      <key>public.kern2.dots</key>
      <real>-25.0</real>
      <key>public.kern2.j</key>
      <real>-121.875</real>
      <key>public.kern2.nna</key>
      <real>-1.5625</real>
      <key>public.kern2.nnna</key>
      <real>-42.5</real>
      <key>public.kern2.quotes</key>
      <real>-12.5</real>
      <key>public.kern2.rxa</key>
      <real>-0.5</real>
      <key>public.kern2.rxr</key>
      <real>-2.5</real>
      <key>public.kern2.rxxa</key>
      <real>-0.5</real>
      <key>public.kern2.rxxr</key>
      <real>-0.5</real>
      <key>public.kern2.tilted</key>
      <real>-20.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-25.0</real>
      <key>two.alt</key>
      <real>-10.0</real>
      <key>underscore</key>
      <real>-7.500000000000001</real>
      <key>x</key>
      <real>-9.0</real>
    </dict>
    <key>public.kern1.nna</key>
    <dict>
      <key>Z</key>
      <real>-2.5</real>
      <key>a</key>
      <real>-6.25</real>
      <key>bracketright</key>
      <real>-12.5</real>
      <key>public.kern2.J</key>
      <real>-87.5</real>
      <key>public.kern2.axa</key>
      <real>-1.0</real>
      <key>public.kern2.axr</key>
      <real>-3.125</real>
      <key>public.kern2.axxr</key>
      <real>-1.0</real>
      <key>public.kern2.dots</key>
      <real>-50.0</real>
      <key>public.kern2.i_with</key>
      <real>12.5</real>
      <key>public.kern2.j</key>
      <real>-118.75</real>
      <key>public.kern2.nnna</key>
      <real>-5.0</real>
      <key>public.kern2.rxa</key>
      <real>-1.0</real>
      <key>public.kern2.rxr</key>
      <real>-3.125</real>
      <key>public.kern2.rxxr</key>
      <real>-1.0</real>
      <key>public.kern2.tilted</key>
      <real>-32.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-25.0</real>
      <key>space</key>
      <real>-37.5</real>
      <key>underscore</key>
      <real>-27.500000000000004</real>
    </dict>
    <key>public.kern1.nnna</key>
    <dict>
      <key>Z</key>
      <real>-4.0</real>
      <key>a</key>
      <real>-17.5</real>
      <key>bracketright</key>
      <real>-30.0</real>
      <key>public.kern2.J</key>
      <real>-100.0</real>
      <key>public.kern2.ara</key>
      <real>-6.25</real>
      <key>public.kern2.axa</key>
      <real>-6.25</real>
      <key>public.kern2.axr</key>
      <real>-42.5</real>
      <key>public.kern2.axxa</key>
      <real>-2.5</real>
      <key>public.kern2.axxr</key>
      <real>-10.0</real>
      <key>public.kern2.bars</key>
      <real>-75.0</real>
      <key>public.kern2.dots</key>
      <real>-50.0</real>
      <key>public.kern2.i_with</key>
      <real>2.083333333333333</real>
      <key>public.kern2.j</key>
      <real>-125.0</real>
      <key>public.kern2.nnna</key>
      <real>-4.0</real>
      <key>public.kern2.rxa</key>
      <real>-6.25</real>
      <key>public.kern2.rxr</key>
      <real>-42.5</real>
      <key>public.kern2.rxxa</key>
      <real>-1.5625</real>
      <key>public.kern2.rxxr</key>
      <real>-7.500000000000001</real>
      <key>public.kern2.tilted</key>
      <real>-62.5</real>
      <key>space</key>
      <real>-50.0</real>
      <key>three.alt</key>
      <real>-17.5</real>
      <key>two.alt</key>
      <real>-17.5</real>
      <key>underscore</key>
      <real>-100.0</real>
    </dict>
    <key>public.kern1.nnr</key>
    <dict>
      <key>X</key>
      <real>-10.0</real>
      <key>Z</key>
      <real>-12.5</real>
      <key>bracketright</key>
      <real>-50.0</real>
      <key>four.alt</key>
      <real>-10.0</real>
      <key>public.kern2.J</key>
      <real>-100.0</real>
      <key>public.kern2.axa</key>
      <real>-10.0</real>
      <key>public.kern2.axr</key>
      <real>-17.5</real>
      <key>public.kern2.axxa</key>
      <real>-5.0</real>
      <key>public.kern2.axxr</key>
      <real>-5.0</real>
      <key>public.kern2.bars</key>
      <real>-5.0</real>
      <key>public.kern2.dots</key>
      <real>-87.5</real>
      <key>public.kern2.j</key>
      <real>-125.0</real>
      <key>public.kern2.nnna</key>
      <real>-16.25</real>
      <key>public.kern2.quotes</key>
      <real>-6.25</real>
      <key>public.kern2.rxa</key>
      <real>-10.0</real>
      <key>public.kern2.rxr</key>
      <real>-20.0</real>
      <key>public.kern2.rxxa</key>
      <real>-5.0</real>
      <key>public.kern2.rxxr</key>
      <real>-5.0</real>
      <key>public.kern2.tilted</key>
      <real>-50.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-25.0</real>
      <key>space</key>
      <real>-50.0</real>
      <key>underscore</key>
      <real>-55.00000000000001</real>
    </dict>
    <key>public.kern1.nr</key>
    <dict>
      <key>bracketright</key>
      <real>-37.5</real>
      <key>public.kern2.J</key>
      <real>-71.875</real>
      <key>public.kern2.axa</key>
      <real>-2.0</real>
      <key>public.kern2.axr</key>
      <real>-6.25</real>
      <key>public.kern2.dots</key>
      <real>-50.0</real>
      <key>public.kern2.j</key>
      <real>-122.75</real>
      <key>public.kern2.nnna</key>
      <real>-5.0</real>
      <key>public.kern2.quotes</key>
      <real>-20.0</real>
      <key>public.kern2.rxa</key>
      <real>-2.0</real>
      <key>public.kern2.rxr</key>
      <real>-3.125</real>
      <key>public.kern2.tilted</key>
      <real>-37.5</real>
      <key>underscore</key>
      <real>-50.0</real>
      <key>x</key>
      <real>-2.0</real>
    </dict>
    <key>public.kern1.op_circle</key>
    <dict>
      <key>bracketright</key>
      <real>-100.0</real>
      <key>public.kern2.tilted</key>
      <real>-50.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-50.0</real>
      <key>underscore</key>
      <real>-125.0</real>
    </dict>
    <key>public.kern1.quotes</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-125.0</real>
      <key>public.kern2.axa</key>
      <real>-62.5</real>
      <key>public.kern2.axr</key>
      <real>-100.0</real>
      <key>public.kern2.axxa</key>
      <real>-17.5</real>
      <key>public.kern2.axxr</key>
      <real>-50.0</real>
      <key>public.kern2.dots</key>
      <real>-50.0</real>
      <key>public.kern2.i_with</key>
      <real>2.083333333333333</real>
      <key>public.kern2.j</key>
      <real>-125.0</real>
      <key>public.kern2.nnna</key>
      <real>-12.5</real>
      <key>public.kern2.rxa</key>
      <real>-62.5</real>
      <key>public.kern2.rxr</key>
      <real>-100.0</real>
      <key>public.kern2.rxxr</key>
      <real>-50.0</real>
      <key>public.kern2.tilted</key>
      <real>-120.0</real>
      <key>space</key>
      <real>-50.0</real>
    </dict>
    <key>public.kern1.quotesleft</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-112.5</real>
      <key>public.kern2.axa</key>
      <real>-6.25</real>
      <key>public.kern2.axr</key>
      <real>-12.5</real>
      <key>public.kern2.axxr</key>
      <real>-12.5</real>
      <key>public.kern2.dots</key>
      <real>-50.0</real>
      <key>public.kern2.i_with</key>
      <real>2.083333333333333</real>
      <key>public.kern2.j</key>
      <real>-112.5</real>
      <key>public.kern2.rxa</key>
      <real>-6.25</real>
      <key>public.kern2.rxr</key>
      <real>-12.5</real>
      <key>public.kern2.rxxr</key>
      <real>-12.5</real>
      <key>public.kern2.tilted</key>
      <real>-85.0</real>
      <key>space</key>
      <real>-50.0</real>
    </dict>
    <key>public.kern1.rrrr</key>
    <dict>
      <key>X</key>
      <real>-5.0</real>
      <key>a</key>
      <real>-5.5</real>
      <key>bracketright</key>
      <real>-37.5</real>
      <key>eight.alt</key>
      <real>-2.5</real>
      <key>public.kern2.J</key>
      <real>-11.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-2.5</real>
      <key>public.kern2.axa</key>
      <real>-5.5</real>
      <key>public.kern2.axr</key>
      <real>-12.000000000000002</real>
      <key>public.kern2.axxa</key>
      <real>-6.25</real>
      <key>public.kern2.axxr</key>
      <real>-6.25</real>
      <key>public.kern2.bars</key>
      <real>-15.0</real>
      <key>public.kern2.dots</key>
      <real>-12.5</real>
      <key>public.kern2.i_with</key>
      <real>2.083333333333333</real>
      <key>public.kern2.j</key>
      <real>-118.75</real>
      <key>public.kern2.na</key>
      <real>-6.25</real>
      <key>public.kern2.nnna</key>
      <real>-8.25</real>
      <key>public.kern2.quotes</key>
      <real>-25.0</real>
      <key>public.kern2.rxa</key>
      <real>-4.0</real>
      <key>public.kern2.rxr</key>
      <real>-6.25</real>
      <key>public.kern2.rxxa</key>
      <real>-6.000000000000001</real>
      <key>public.kern2.rxxr</key>
      <real>-10.500000000000002</real>
      <key>public.kern2.tilted</key>
      <real>-17.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-17.5</real>
      <key>three.alt</key>
      <real>-1.0</real>
      <key>two</key>
      <real>-20.0</real>
      <key>two.alt</key>
      <real>-2.0</real>
      <key>underscore</key>
      <real>-25.0</real>
    </dict>
    <key>public.kern1.rxa</key>
    <dict>
      <key>a</key>
      <real>-6.25</real>
      <key>bracketright</key>
      <real>-40.0</real>
      <key>public.kern2.J</key>
      <real>-10.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-12.5</real>
      <key>public.kern2.axa</key>
      <real>-0.5</real>
      <key>public.kern2.axr</key>
      <real>-1.5625</real>
      <key>public.kern2.axxr</key>
      <real>-0.5</real>
      <key>public.kern2.dots</key>
      <real>-12.5</real>
      <key>public.kern2.i_with</key>
      <real>-0.5</real>
      <key>public.kern2.j</key>
      <real>-118.75</real>
      <key>public.kern2.nna</key>
      <real>-1.5625</real>
      <key>public.kern2.nnna</key>
      <real>-6.25</real>
      <key>public.kern2.quotes</key>
      <real>-6.25</real>
      <key>public.kern2.rxr</key>
      <real>-2.5</real>
      <key>public.kern2.tilted</key>
      <real>-17.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-25.0</real>
      <key>two.alt</key>
      <real>-1.0</real>
      <key>underscore</key>
      <real>-20.0</real>
    </dict>
    <key>public.kern1.rxr</key>
    <dict>
      <key>a</key>
      <real>-10.0</real>
      <key>bracketright</key>
      <real>-40.0</real>
      <key>eight.alt</key>
      <real>-5.0</real>
      <key>i</key>
      <real>-5.833333333333333</real>
      <key>public.kern2.J</key>
      <real>-10.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-25.0</real>
      <key>public.kern2.axa</key>
      <real>-2.5</real>
      <key>public.kern2.axr</key>
      <real>-2.5</real>
      <key>public.kern2.axxa</key>
      <real>-3.125</real>
      <key>public.kern2.axxr</key>
      <real>-3.3333333333333335</real>
      <key>public.kern2.dots</key>
      <real>-12.5</real>
      <key>public.kern2.i_with</key>
      <real>-3.3333333333333335</real>
      <key>public.kern2.j</key>
      <real>-118.75</real>
      <key>public.kern2.na</key>
      <real>-2.0</real>
      <key>public.kern2.nna</key>
      <real>-5.0</real>
      <key>public.kern2.nnna</key>
      <real>-42.5</real>
      <key>public.kern2.quotes</key>
      <real>-12.5</real>
      <key>public.kern2.rxa</key>
      <real>-2.0</real>
      <key>public.kern2.rxr</key>
      <real>-2.0</real>
      <key>public.kern2.rxxa</key>
      <real>-3.3333333333333335</real>
      <key>public.kern2.rxxr</key>
      <real>-4.0</real>
      <key>public.kern2.tilted</key>
      <real>-17.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-42.5</real>
      <key>seven.alt</key>
      <real>-10.0</real>
      <key>three.alt</key>
      <real>-7.500000000000001</real>
      <key>two.alt</key>
      <real>-12.5</real>
      <key>underscore</key>
      <real>-20.0</real>
      <key>x</key>
      <real>-10.0</real>
    </dict>
    <key>public.kern1.rxxa</key>
    <dict>
      <key>a</key>
      <real>-4.0</real>
      <key>bracketright</key>
      <real>-25.0</real>
      <key>public.kern2.J</key>
      <real>-10.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-12.5</real>
      <key>public.kern2.axr</key>
      <real>-1.0</real>
      <key>public.kern2.dots</key>
      <real>-12.5</real>
      <key>public.kern2.i_with</key>
      <real>4.166666666666666</real>
      <key>public.kern2.j</key>
      <real>-118.75</real>
      <key>public.kern2.nnna</key>
      <real>-1.5625</real>
      <key>public.kern2.rxr</key>
      <real>-3.3333333333333335</real>
      <key>public.kern2.tilted</key>
      <real>-17.5</real>
      <key>two.alt</key>
      <real>-1.0</real>
      <key>underscore</key>
      <real>-25.0</real>
    </dict>
    <key>public.kern1.rxxr</key>
    <dict>
      <key>a</key>
      <real>-5.5</real>
      <key>bracketright</key>
      <real>-37.5</real>
      <key>public.kern2.J</key>
      <real>-10.0</real>
      <key>public.kern2.axa</key>
      <real>-1.0</real>
      <key>public.kern2.axr</key>
      <real>-1.0</real>
      <key>public.kern2.dots</key>
      <real>-12.5</real>
      <key>public.kern2.i_with</key>
      <real>2.083333333333333</real>
      <key>public.kern2.j</key>
      <real>-118.75</real>
      <key>public.kern2.nnna</key>
      <real>-7.500000000000001</real>
      <key>public.kern2.quotes</key>
      <real>-20.0</real>
      <key>public.kern2.rxr</key>
      <real>-4.0</real>
      <key>public.kern2.tilted</key>
      <real>-17.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-17.5</real>
      <key>three.alt</key>
      <real>-1.0</real>
      <key>two</key>
      <real>-12.5</real>
      <key>two.alt</key>
      <real>-2.0</real>
      <key>underscore</key>
      <real>-25.0</real>
    </dict>
    <key>public.kern1.tilted</key>
    <dict>
      <key>cent</key>
      <real>-25.0</real>
      <key>colon</key>
      <real>-10.0</real>
      <key>florin</key>
      <real>-50.0</real>
      <key>invquestion</key>
      <real>-100.0</real>
      <key>pound</key>
      <real>-20.0</real>
      <key>public.kern2.J</key>
      <real>-70.0</real>
      <key>public.kern2.ara</key>
      <real>-25.0</real>
      <key>public.kern2.axa</key>
      <real>-25.0</real>
      <key>public.kern2.axr</key>
      <real>-42.5</real>
      <key>public.kern2.axxr</key>
      <real>-17.5</real>
      <key>public.kern2.bars</key>
      <real>-37.5</real>
      <key>public.kern2.dots</key>
      <real>-85.0</real>
      <key>public.kern2.j</key>
      <real>-125.0</real>
      <key>public.kern2.na</key>
      <real>-25.0</real>
      <key>public.kern2.nna</key>
      <real>-25.0</real>
      <key>public.kern2.nnr</key>
      <real>-25.0</real>
      <key>public.kern2.op_circle</key>
      <real>-50.0</real>
      <key>public.kern2.rxa</key>
      <real>-25.0</real>
      <key>public.kern2.rxr</key>
      <real>-42.5</real>
      <key>public.kern2.rxxr</key>
      <real>-17.5</real>
      <key>public.kern2.tilted</key>
      <real>-75.0</real>
      <key>section</key>
      <real>-20.0</real>
      <key>semicolon</key>
      <real>-10.0</real>
      <key>underscore</key>
      <real>-110.00000000000001</real>
      <key>won</key>
      <real>-25.0</real>
      <key>yen</key>
      <real>-25.0</real>
    </dict>
    <key>public.kern1.tiltedback</key>
    <dict>
      <key>asterisk</key>
      <real>-50.0</real>
      <key>degree</key>
      <real>-80.0</real>
      <key>euro</key>
      <real>-30.0</real>
      <key>exclamation</key>
      <real>10.0</real>
      <key>ordinalfeminine</key>
      <real>-70.0</real>
      <key>ordinalmasculine</key>
      <real>-70.0</real>
      <key>public.kern2.apostrophe</key>
      <real>-97.5</real>
      <key>public.kern2.bars</key>
      <real>-37.5</real>
      <key>public.kern2.na</key>
      <real>-20.0</real>
      <key>public.kern2.nna</key>
      <real>-32.5</real>
      <key>public.kern2.nnna</key>
      <real>-62.5</real>
      <key>public.kern2.nnr</key>
      <real>-50.0</real>
      <key>public.kern2.nr</key>
      <real>-37.5</real>
      <key>public.kern2.op_circle</key>
      <real>-50.0</real>
      <key>public.kern2.quotes</key>
      <real>-120.0</real>
      <key>public.kern2.quotesleft</key>
      <real>-85.0</real>
      <key>public.kern2.rxa</key>
      <real>-17.5</real>
      <key>public.kern2.rxr</key>
      <real>-17.5</real>
      <key>public.kern2.rxxa</key>
      <real>-17.5</real>
      <key>public.kern2.rxxr</key>
      <real>-17.5</real>
      <key>seven.alt</key>
      <real>-10.0</real>
      <key>underscore</key>
      <real>12.5</real>
      <key>won</key>
      <real>-55.00000000000001</real>
      <key>yen</key>
      <real>-55.00000000000001</real>
    </dict>
    <key>q</key>
    <dict>
      <key>public.kern2.j</key>
      <real>-15.625</real>
    </dict>
    <key>question</key>
    <dict>
      <key>public.kern2.dots</key>
      <real>-100.0</real>
      <key>public.kern2.tilted</key>
      <real>-70.0</real>
    </dict>
    <key>s</key>
    <dict>
      <key>public.kern2.nnna</key>
      <real>-8.75</real>
      <key>public.kern2.rxr</key>
      <real>-4.5</real>
      <key>s</key>
      <real>-5.0</real>
      <key>two.alt</key>
      <real>-7.500000000000001</real>
      <key>x</key>
      <real>-3.125</real>
      <key>z</key>
      <real>-5.0</real>
    </dict>
    <key>semicolon</key>
    <dict>
      <key>public.kern2.tiltedback</key>
      <real>-10.0</real>
    </dict>
    <key>seven</key>
    <dict>
      <key>underscore</key>
      <real>-10.0</real>
    </dict>
    <key>seven.alt</key>
    <dict>
      <key>underscore</key>
      <real>-10.0</real>
    </dict>
    <key>six</key>
    <dict>
      <key>two</key>
      <real>-2.0</real>
    </dict>
    <key>six.alt</key>
    <dict>
      <key>public.kern2.bars</key>
      <real>-5.0</real>
      <key>public.kern2.nnna</key>
      <real>-17.5</real>
      <key>s</key>
      <real>-10.0</real>
      <key>seven.alt</key>
      <real>-12.5</real>
    </dict>
    <key>slash</key>
    <dict>
      <key>slash</key>
      <real>-181.25</real>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-50.0</real>
      <key>public.kern2.j</key>
      <real>-50.0</real>
      <key>public.kern2.nnna</key>
      <real>-50.0</real>
    </dict>
    <key>t</key>
    <dict>
      <key>Z</key>
      <real>-5.0</real>
      <key>a</key>
      <real>-20.0</real>
      <key>five.alt</key>
      <real>-10.0</real>
      <key>public.kern2.J</key>
      <real>-101.5625</real>
      <key>public.kern2.axa</key>
      <real>-15.000000000000002</real>
      <key>public.kern2.axr</key>
      <real>-31.25</real>
      <key>public.kern2.axxa</key>
      <real>-12.5</real>
      <key>public.kern2.axxr</key>
      <real>-6.25</real>
      <key>public.kern2.bars</key>
      <real>-15.000000000000002</real>
      <key>public.kern2.nna</key>
      <real>-10.0</real>
      <key>public.kern2.rxa</key>
      <real>-20.0</real>
      <key>public.kern2.rxr</key>
      <real>-33.125</real>
      <key>public.kern2.rxxa</key>
      <real>-6.25</real>
      <key>public.kern2.rxxr</key>
      <real>-6.25</real>
      <key>public.kern2.tilted</key>
      <real>-70.0</real>
      <key>t</key>
      <real>-7.249999999999999</real>
      <key>three.alt</key>
      <real>-10.0</real>
      <key>two.alt</key>
      <real>-11.0</real>
      <key>underscore</key>
      <real>-65.0</real>
    </dict>
    <key>three.alt</key>
    <dict>
      <key>nine.alt</key>
      <real>-3.125</real>
      <key>public.kern2.bars</key>
      <real>-12.5</real>
      <key>s</key>
      <real>-6.000000000000001</real>
      <key>two.alt</key>
      <real>-15.000000000000002</real>
      <key>underscore</key>
      <real>-20.0</real>
    </dict>
    <key>turnedcomma</key>
    <dict>
      <key>public.kern2.axa</key>
      <real>-2.5</real>
      <key>public.kern2.axr</key>
      <real>-30.0</real>
      <key>public.kern2.rxa</key>
      <real>-2.5</real>
      <key>public.kern2.rxr</key>
      <real>-30.0</real>
    </dict>
    <key>two.alt</key>
    <dict>
      <key>underscore</key>
      <real>-12.5</real>
    </dict>
    <key>underscore</key>
    <dict>
      <key>five.alt</key>
      <real>-17.5</real>
      <key>four.alt</key>
      <real>-12.5</real>
      <key>g</key>
      <real>-12.5</real>
      <key>l</key>
      <real>0.0</real>
      <key>period</key>
      <real>-12.5</real>
      <key>public.kern2.J</key>
      <real>-20.0</real>
      <key>public.kern2.j</key>
      <real>-5.0</real>
      <key>public.kern2.nnna</key>
      <real>-100.0</real>
      <key>public.kern2.nnr</key>
      <real>-32.5</real>
      <key>public.kern2.op_circle</key>
      <real>-125.0</real>
      <key>public.kern2.rxa</key>
      <real>-20.0</real>
      <key>public.kern2.rxr</key>
      <real>-20.0</real>
      <key>public.kern2.rxxa</key>
      <real>-25.0</real>
      <key>public.kern2.rxxr</key>
      <real>-25.0</real>
      <key>public.kern2.tilted</key>
      <real>12.5</real>
      <key>public.kern2.tiltedback</key>
      <real>-110.00000000000001</real>
      <key>s</key>
      <real>-17.5</real>
      <key>seven</key>
      <real>-25.0</real>
      <key>seven.alt</key>
      <real>-20.0</real>
      <key>three.alt</key>
      <real>-15.000000000000002</real>
      <key>trademark</key>
      <real>0.0</real>
      <key>two.alt</key>
      <real>-20.0</real>
      <key>x</key>
      <real>-12.5</real>
      <key>y</key>
      <real>-6.25</real>
    </dict>
    <key>won</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-55.00000000000001</real>
      <key>public.kern2.tiltedback</key>
      <real>-25.0</real>
    </dict>
    <key>yen</key>
    <dict>
      <key>public.kern2.tilted</key>
      <real>-50.0</real>
      <key>public.kern2.tiltedback</key>
      <real>-25.0</real>
    </dict>
  </dict>
</plist>
